@import "../../stylesheets/vars";

div.collaboration-about-mod {
    padding: 32px 0;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    div.about {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 10px;
        color: $primary-orange;
    }

    p {
        white-space: pre-line;
    }

    span.info {
        color: $dark-grey;
        font-size: 14px;
    }

    div.details {
        display: flex;
        justify-content: space-between;
    }

    div.services {
        width: 50%;
    }

    @media (max-width: $tablet-max) {
        padding: 32px 15px;

        div.details {
            flex-direction: column;
        }
        div.services {
            width: 100%;
        }

        div.members {
            margin: 20px 0 0 0;
        }
    }


    ul.services li {
        margin-top: 15px;
        display: flex;
        padding: 10px;
        border: 1px solid $lighter-grey;
        border-radius: 8px;
        margin-bottom: 15px;
        align-items: center;
        cursor: not-allowed;

        &.uri {
            cursor: pointer;

            &:hover {
                background-color: $light-blue;
                border: 1px solid $light-blue;
            }

        }

        img {
            width: 60px;
            border-radius: 4px;
        }

        span {
            display: inline-block;
            margin-left: 15px;
            padding: 10px;
            border-left: 1px solid $medium-grey;
        }

        svg {
            width: 52px;
            margin: 0 15px 0 auto;
            fill: $lighter-blue;
            color: $lighter-blue;
        }
    }

    .members {
        margin: 0 20px;

        .members-header {
            display: flex;

            &.join-request {
                flex-direction: column;
            }

            a {
                margin-left: 25px;
            }
        }

        span.role {
            color: $dark-grey;
            font-size: 14px;
        }
    }

    .playing-svg {
        margin: auto 0px;

        svg {
            width: 320px;
            height: auto;
        }
    }
}
