@import "../../stylesheets/vars";
@import "../../stylesheets/select_role";

.mod-entities {
    div.impersonate {
        svg {
            width: 35px;
            cursor: pointer;
            background-color: #fedb03;
            padding: 5px;
        }
    }

    .admin-actions {
        display: flex;

        margin-bottom: 12px;

        a:not(:first-child) {
            margin-left: 25px;
        }

        a.right {
            margin-left: auto;
        }

    }

    .member-filter {
        display: flex;
        @media (max-width: $compact-medium) {
            flex-direction: column;
        }


        .member-filter-select {
            width: 290px;
            margin: 0 25px 0 50px;
            @media (max-width: $compact-medium) {
                margin: 15px 0;
            }

        }
    }

    span.member-role {
        display: inline-block;
        margin-left: 5px;
    }

    table.coAdmins, table.members {

        thead {
            th {
                &.check {
                    width: 15px;
                }

                &.name {
                    width: 30%;
                }

                &.user__schac_home_organisation {
                    width: 15%;
                }

                &.role {
                    width: 15%;
                    padding-left: 5px;
                }

                &.status {
                    width: 20%;
                    text-align: center;
                }

                &.impersonate {
                    width: 74px;
                }
            }
        }

        tbody {
            td {
                &.status {
                    text-align: center;
                }

                &.member {
                    text-align: left;
                }

                &.impersonate {
                    text-align: right;
                }

            }
        }

    }

}

.collaboration-invitation-details-container {
    display: flex;
    margin: 40px auto 25px auto;
    max-width: $medium;
    width: 100%;

    @media (max-width: $compact-medium) {
        flex-direction: column;
    }

    a.back-to-org-members {
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        color: $blue;
        text-decoration: underline;
        margin-right: 60px;

        svg {
            margin-right: 5px;
            fill: $blue;
            height: 22px;
        }
    }

    h1 {
        font-size: 26px;
    }

    div.collaboration-invitation-form {
        width: 60%;
        @media (max-width: $compact-medium) {
            width: 100%;
            padding: 15px;
        }

        display: flex;
        flex-direction: column;

        h2 {
            font-size: 18px;
        }

        h1 {
            margin: 1px 0 30px 0;
        }

        div.checkbox {
            margin-top: 25px;
        }
    }
}



