.mod-entities {
    div.impersonate {
        svg {
            width: 35px;
            cursor: pointer;
            background-color: #fedb03;
            padding: 5px;
        }
    }

    .admin-actions {
        margin-bottom: 12px;

        a:not(:first-child) {
            margin-left: 25px;
        }
    }

    .member-filter {
        display: flex;

        .member-filter-select {
            width: 290px;
            margin: 0 25px 0 50px;
        }
    }

    table.coAdmins, table.members {

        thead {
            th {
                &.check {
                    width: 15px;
                }

                &.name {
                    width: 30%;
                }

                &.user__schac_home_organisation {
                    width: 15%;
                }

                &.role {
                    width: 15%;
                }

                &.status {
                    width: 20%;
                    text-align: center;
                }

                &.impersonate {
                    width: 74px;
                }
            }
        }

        tbody {
            td {
                &.status {
                    text-align: center;
                }

                &.member {
                    text-align: left;
                }

                &.impersonate {
                    text-align: right;
                }

            }
        }

    }

}


