@import "../../stylesheets/vars";

.no-collaborations {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    max-width: 800px;
    align-items: center;

    h2 {
        color: $darker-grey;
        font-size: 18px;
        margin: 25px 0;
        text-align: center;
        line-height: 26px;
    }

    svg#swinging {
        max-height: 300px;
    }

    a.button {
        min-width: 325px;
    }
}

table.collaborations, table.serviceCollaborations, table.memberCollaborations {

    thead {
        th {
            @media (max-width: $compact-medium) {
                &.role {
                    display: none;
                }
            }

            &.name {
                width: 30%;
                padding-left: 15px;
            }

            &.organisation__name {
                width: 20%;
            }

            &.expiry_date {
                width: 18%;
            }

            &.last_activity_date {
                width: 8%;
            }

            &.fromCollaboration {
                width: 8%;
            }

            &.collaboration_memberships_count {
                width: 8%;
                text-align: center;
            }

            &.role {
                width: 13%;
                text-align: center;
            }

            &.invitations_count {
                width: 8%;
                text-align: center;
            }
        }
    }

    tbody {
        td {
            @media (max-width: $compact-medium) {
                &.role {
                    display: none;
                }
            }

            &.name {
                padding-left: 15px;
            }

            &.collaboration_memberships_count {
                text-align: center;
            }

            &.expiry_date, &.last_activity_date {
                span.warning {
                    color: $red;
                    display: block;
                    font-weight: bold;

                    &:last-child {
                        margin-top: 6px;
                    }
                }
            }

            &.role {
                text-align: center;
            }

            &.invitations_count {
                text-align: center;
            }
        }
    }
}
