@import "../../stylesheets/vars";

table.collaboration_requests {

    thead {
        th {
            &.name {
                width: 30%;
                padding-left: 15px;
            }

            &.status {
                width: 25%;
                text-align: center;
            }

            &.requester {
                width: 25%;
            }

            &.open {
                width: 20%;
            }
        }
    }

    tbody {
        td {
            &.name {
                padding-left: 15px;
            }

            &.status {
                text-align: center;
            }

            &.open {
                text-align: right;
            }
        }
    }
}
