@import "../../stylesheets/vars";

.no-collaborations {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    max-width: 800px;
    align-items: center;

    h2 {
        color: $dark-grey;
        font-size: 18px;
        margin: 25px 0;
        text-align: center;
        line-height: 26px;
    }

    svg#swinging {
        max-height: 300px;
    }

    a.button {
        min-width: 325px;
    }
}

table.collaborations, table.serviceCollaborations, table.memberCollaborations {

    thead {
        th {
            @media (max-width: $compact-medium) {
                &.role {
                    display: none;
                }
            }

            &.name {
                width: 25%;
                padding-left: 15px;
            }

            &.organisation__name {
                width: 25%;
            }

            &.fromCollaboration {
                width: 15%;
            }

            &.collaboration_memberships_count {
                width: 15%;
                text-align: center;
            }

            &.role {
                width: 20%;
                text-align: center;
            }

            &.invitations_count {
                width: 15%;
                text-align: center;
            }
        }
    }

    tbody {
        td {
            @media (max-width: $compact-medium) {
                &.role {
                    display: none;
                }
            }

            &.name {
                padding-left: 15px;
            }

            &.collaboration_memberships_count {
                text-align: center;
            }

            &.role {
                text-align: center;
            }

            &.invitations_count {
                text-align: center;
            }
        }
    }
}
