@import "../../stylesheets/vars";

span.error-indication {
    color: $error-red;

    display: flex;
    align-items: center;

    &.standalone {
        margin-bottom: 15px;
    }

    svg {
        margin-right: 10px;
        width: 18px;
        height: auto;
    }
}