@import "../../stylesheets/vars";
@import "../../stylesheets/forms";
@import "../../stylesheets/unit_header";

table.groups {

    thead {
        th {
            &.name {
                width: 20%;
                padding-left: 15px;
            }

            &.description {
                width: 40%;
            }

            &.member {
                width: 90px;
            }

            &.memberCount {
                width: 20%;
                text-align: center;
            }

            &.auto_provision_members {
                width: 20%;
                text-align: center;
            }
        }
    }

    tbody {
        td {
            &.name {
                padding-left: 15px;
            }

            &.memberCount {
                text-align: center;
            }

            &.auto_provision_members {
                text-align: center;
            }
        }
    }
}

.group-details-container {
    display: flex;
    max-width: $medium;
    width: 100%;
    margin: 40px auto 25px auto;

    @media (max-width: $compact-medium) {
        flex-direction: column;
        padding: 0 15px;
    }

    a.back-to-groups {
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        color: $blue;
        text-decoration: underline;
        margin-right: 60px;

        svg {
            margin-right: 5px;
            fill: $blue;
            height: 22px;
        }
    }

    h1 {
        font-size: 26px;
        line-height: 30px;
    }

    div.group-details {
        width: 100%;

        .header {
            display: flex;
            width: 100%;

            div.header-actions {
                margin-left: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            button {
                margin-bottom: 15px;
            }

            span.history {
                cursor: pointer;

                svg {
                    margin-right: 10px;
                }
            }
        }

        .description {
            margin-bottom: 25px;

            &.no-header-actions {
                margin-top: 25px;
            }
        }

        .org-attributes-container {
            padding-bottom: 20px;
            border-bottom: 3px solid $light-grey;
        }

        .group-detail-actions {
            margin-bottom: 20px;
            max-width: 50%;

            div.actions__placeholder {
                color: $blue;
            }
        }
    }

    table.groupMembers {
        thead {
            th {
                &.icon {
                    width: 30px;
                }
                &.name {
                    width: 50%;
                }

                &.user__schac_home_organisation {
                    width: 45%;
                }

                &.trash {
                    width: 74px;
                }

            }
        }

        tbody {
            td {
                &.trash {
                    text-align: right;
                    color: $red;
                    cursor: pointer;
                }

                &.trash_disabled {
                    text-align: right;
                    color: $lighter-grey;
                    cursor: not-allowed;
                }

            }
        }

    }

    div.group-form {

        width: 60%;

        display: flex;
        flex-direction: column;

        @media (max-width: $compact-medium) {
            width: 100%;
            padding: 15px 15px 0 15px;
        }

        h1 {
            margin-bottom: 20px;
            color: $primary-orange;
        }


        div.checkbox {
            margin-top: 25px;
        }
    }

}
