@import "../../stylesheets/vars.scss";

.institute-column {
    display: flex;

    &.greyed {
        color: $dark-grey;
    }

    svg {
        color: $lighter-grey;
        cursor: pointer;

        &:hover {
            color: darken($light-blue, 20%);
        }

        margin-left: 3px;
    }
}