table.organisations {

    thead {
        th {
            &.name {
                width: 35%;
                padding-left: 15px;
            }

            &.category {
                width: 15%;
            }

            &.schacHomes {
                width: 20%;
            }

            &.role {
                width: 10%;
                text-align: center;
            }

            &.organisation_memberships_count {
                width: 10%;
                text-align: center;
            }

            &.collaborations_count {
                width: 10%;
                text-align: center;
            }
        }
    }

    tbody {
        td {
            &.name {
                padding-left: 15px;
            }

            &.role {
                width: 20%;
                text-align: center;
            }

            &.organisation_memberships_count {
                text-align: center;
            }

            &.collaborations_count {
                text-align: center;
            }

            div.schac_home_organisations {
                span {
                    display: block;
                }
            }
        }
    }
}
