@import "../../stylesheets/vars";

.mod-entities {
    div.impersonate {
        svg {
            width: 35px;
            cursor: pointer;
            background-color: #fedb03;
            padding: 5px;
        }
    }
    .admin-actions {
        margin-bottom: 12px;
    }

    table.orgMembers {

        thead {
            th {
                &.check {
                    width: 20px;
                }

                &.name {
                    width: 20%;
                }

                &.user__schac_home_organisation {
                    width: 20%;
                }

                &.role {
                    width: 20%;
                }

                &.status {
                    width: 20%;
                    text-align: center;
                }

                &.impersonate {
                    width: 74px;
                }
            }
        }

        tbody {
            td {
                &.status {
                    text-align: center;
                }

                &.impersonate {
                    text-align: right;
                }

            }
        }

    }

}

.organisation-invitation-details-container {
    display: flex;
    margin: 40px 0 25px 0;
    width: 70%;

    a.back-to-org-members {
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        color: $dark-grey;
        text-decoration: underline;
        margin-right: 60px;

        svg {
            margin-right: 5px;
            fill: $dark-grey;
            height: 22px;
        }
    }

    h1 {
        font-size: 26px;
    }

    div.organisation-invitation-form {
        p.error {
            color: $red;
            display: inline-block;
            font-size: 16px;
            margin-bottom: 15px;
        }
        h2 {
            font-size: 18px;
        }

        width: 100%;

        h1 {
            margin: 1px 0 30px 0;
        }

        display: flex;
        flex-direction: column;

        div.checkbox {
           margin-top: 25px;
        }
    }
}
