@import "../../stylesheets/vars";
@import "../../stylesheets/select_role";

.mod-entities {
    div.impersonate {
        svg {
            width: 35px;
            cursor: pointer;
            background-color: #fedb03;
            padding: 5px;
        }
    }

    .admin-actions {
        margin-bottom: 12px;
    }

    table.orgMembers {

        thead {
            th {
                &.check {
                    width: 20px;
                }

                &.name {
                    width: 20%;
                }

                &.user__schac_home_organisation {
                    width: 20%;
                }

                &.role {
                    width: 20%;
                }

                &.status {
                    width: 20%;
                    text-align: center;
                }

                &.impersonate {
                    width: 74px;
                }
            }
        }

        tbody {
            td {
                &.status {
                    text-align: center;
                }

                &.not-allowed {
                    cursor: not-allowed;
                }

                &.impersonate {
                    text-align: right;
                }

            }
        }

    }

}

.organisation-invitation-details-container {
    display: flex;
    margin: 40px auto 25px auto;
    max-width: $medium;
    width: 100%;

    @media (max-width: $compact-medium) {
        flex-direction: column;
    }


    a.back-to-org-members {
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        color: $blue;
        text-decoration: underline;
        margin-right: 60px;

        svg {
            margin-right: 5px;
            fill: $blue;
            height: 22px;
        }
    }

    h1 {
        font-size: 26px;
    }

    div.organisation-invitation-form {
        width: 60%;
        @media (max-width: $compact-medium) {
            width: 100%;
            padding: 15px;
        }

        display: flex;
        flex-direction: column;

        h2 {
            font-size: 18px;
        }

        h1 {
            margin: 1px 0 30px 0;
        }

        div.checkbox {
            margin-top: 25px;
        }
    }
}
