@import "../../stylesheets/vars";

.radio-button-container {

    label.info {
        display: inline-block;
        margin: 25px 0 10px 0;
        color: black;
        position: relative;
        font-weight: bold;
    }

    .r-buttons {
        display: flex;
        align-items: center;
    }

    .r-button {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 50px;
        cursor: pointer;

        &.disabled {
            cursor: not-allowed;
        }

        label.value {
            margin: 3px 0 0 32px;
            color: black;
            font-weight: bold;
            cursor: pointer;

            &.disabled {
                cursor: not-allowed;
                color: $medium-grey;
                }

        }
    }

    .r-button input {
        position: absolute;
        opacity: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid $blue;
        cursor: pointer;

        &.disabled {
            cursor: not-allowed;
            border: 1px solid $lighter-grey;
        }

    }

    .r-button:hover input ~ .checkmark {
        background-color: rgba(234, 234, 234, 0.5);
    }

    .r-button input:checked ~ .checkmark {
        background-color: white;
    }

    .r-button input:disabled ~ .checkmark {
        background-color: #eef2f3;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .r-button input:checked ~ .checkmark:after {
        display: block;
    }

    .r-button .checkmark:after {
        top: 6px;
        left: 6px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: $blue;

    }
    .r-button input:disabled ~ .checkmark:after {
        top: 6px;
        left: 6px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: $dark-grey
    }
}

