@import "../../stylesheets/vars";
@import "../../stylesheets/forms";
@import "../../stylesheets/unit_header";

table.serviceGroups {

    thead {
        th {
            &.name {
                width: 25%;
                padding-left: 15px;
            }

            &.short_name {
                width: 15%;
            }

            &.description {
                width: 45%;
            }

            &.auto_provision_members {
                width: 15%;
                text-align: center;
            }
        }
    }

    tbody {
        td {
            &.name {
                padding-left: 15px;
            }

            &.auto_provision_members {
                text-align: center;
            }
        }
    }
}

.service-group-details-container {
    display: flex;
    max-width: $medium;
    width: 100%;
    margin: 40px auto 25px auto;

    @media (max-width: $compact-medium) {
        flex-direction: column;
        padding: 0 15px;
    }

    a.back-to-groups {
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        color: $blue;
        text-decoration: underline;
        margin-right: 60px;

        svg {
            margin-right: 5px;
            fill: $blue;
            height: 22px;
        }
    }

    div.service-group-details {
        width: 100%;

        .header {
            display: flex;
            width: 100%;

            div.header-actions {
                margin-left: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            button {
                margin-bottom: 15px;
            }

            span.history {
                cursor: pointer;

                svg {
                    margin-right: 10px;
                }
            }
        }

        .description {
            margin-bottom: 25px;

            &.no-header-actions {
                margin-top: 25px;
            }
        }

        .org-attributes-container {
            padding-bottom: 20px;
            border-bottom: 3px solid $light-grey;
        }

        .service-group-detail-actions {
            margin-bottom: 20px;
            max-width: 50%;

            div.actions__placeholder {
                color: $blue;
            }
        }
    }

    div.service-group-form {

        width: 60%;

        display: flex;
        flex-direction: column;

        @media (max-width: $compact-medium) {
            width: 100%;
            padding: 15px 15px 0 15px;
        }

        h2 {
            margin-bottom: 20px;
        }


        div.checkbox {
            margin-top: 25px;
        }
    }

}
