table.service-organisations {

    thead {
        th {
            &.name {
                width: 45%;
                padding-left: 15px;
            }
            &.category {
                width: 25%;
                padding-left: 15px;
            }
            &.toggle {
                width: 35%;
                text-align: center;
            }
        }
    }

    tbody {
        td {
            &.name {
                padding-left: 15px;
            }
            &.toggle {
                text-align: center;
            }
        }
    }
}
