@import "../../stylesheets/vars";
@import "../../stylesheets/forms";
@import "../../stylesheets/unit_header";

table.serviceConnectionRequests {

    thead {
        th {
            &.collaboration__name {
                width: 17%;
                padding-left: 15px;

                &.has-service {
                    width: 32%;
                }
            }

            &.service__name {
                width: 17%;
            }

            &.requester__name {
                width: 26%;

                &.has-service {
                    width: 26%;
                }
            }

            &.user__schac_home_organisation {
                width: 15%;
            }

            &.status {
                text-align: center;
                width: 20%;
            }

        }
    }

    tbody {
        td {
            &.collaboration__name {
                padding-left: 15px;
            }

            &.status {
                text-align: center;
            }


        }
    }
}

.mod-entities {

    .service-connection-request-filter {
        display: flex;
        @media (max-width: $compact-medium) {
            flex-direction: column;
        }

        .service-connection-request-filter-select {
            width: 290px;
            @media (max-width: $compact-medium) {
                margin: 15px 0;
            }

        }
    }

}

.service-connection-requests-details-container {
    display: flex;
    max-width: $medium;
    width: 100%;
    margin: 40px auto 25px auto;

    @media (max-width: $compact-medium) {
        flex-direction: column;
    }

    a.back-to-service-connection-requests {
        display: flex;
        align-items: center;
        white-space: nowrap;
        color: $blue;
        text-decoration: underline;
        margin-right: 60px;


        svg {
            margin-right: 5px;
            fill: $blue;
            height: 22px;
        }
    }

    div.service-connection-request-form {
        width: 60%;
        @media (max-width: $compact-medium) {
            width: 100%;
            padding: 15px 15px 0 15px;
        }

        h1 {
            margin: 1px 0 30px 0;
        }

        .service-connection-request-header {
            display: flex;
            align-items: center;

            button.sds--chips {
                margin-left: 25px;
                max-height: 34px;
            }
        }

        display: flex;
        flex-direction: column;

        div.checkbox {
            margin-top: 25px;
        }
    }

}
