@import "../../stylesheets/vars.scss";

.mod-service-container {
    table.serviceOrganisations {

        thead {
            th {
                &.name {
                    width: 50%;
                    padding-left: 15px;
                }

                &.category {
                    width: 25%;
                }

                &.toggle {
                    width: 25%;
                    text-align: right;
                }
            }
        }

        tbody {
            td {
                &.name {
                    padding-left: 15px;
                }

                &.toggle {
                    text-align: right;
                }
            }
        }


    }

    section.actions {
        margin: 20px 0;
        padding: $medium-margin 0;
        border-top: 2px solid $lighter-grey;
        display: flex;
        flex-direction: column;
        a {
            margin-left: auto;
            margin-bottom: 10px;
        }
        .error {
            color: $red;
            margin-left: auto;
        }
    }

}
