@import "../../stylesheets/vars";
@import "../../stylesheets/unit_header";

.unit-header-container {
    background-color: $background;
    padding: 15px 0 25px 0;

    @media (max-width: $tablet-max) {
        padding: 15px 15px 25px 15px;
    }

    width: 100%;

    .children {
        max-width: 710px;
        p {
            margin: 20px 0;
            white-space: pre-line;
        }

    }

    .unit-header {
        max-width: $medium;
        margin: 0 auto;
        width: 100%;
        display: flex;

        @media (max-width: $compact-medium) {
            flex-direction: column;
        }


        .image {
            svg {
                width: 50px;
                height: 30px;
                color: $primary-orange;
                fill: $primary-orange;

                &.child {
                    color: black;
                    fill: black;
                }
            }

            img {
                max-height: 300px;
                max-width: 300px;
                border-radius: 5px;
            }

            @media (max-width: $compact-medium) {
                display: none;
            }

        }

        .obj-name {
            margin-left: 26px;
            flex-grow: 3;

            h1 {
                margin-bottom: 5px;
                font-size: 28px;
                line-height: 32px;
                font-weight: bold;
                color: $primary-orange;
            }

            span.name {
                color: black;
                font-weight: bold;
            }
        }

    }

}
