@import "../../stylesheets/vars";

.unit-header-container {
    background-color: $background;
    padding: 25px 0;

    .unit-header {
        margin: 0 auto 0 auto;
        display: flex;
        align-items: center;

        h1 {
            font-size: 28px;
            margin-left: 20px;
            color: $darker-grey;
        }

        svg {
            max-width: 50px;
            max-height: 30px;
            margin-left: 20px;
        }

        .edit {
            margin-left: auto;
        }
    }

}
