@import "../../stylesheets/vars";

.unit-header-container {
    background-color: $background;
    padding: 25px;

    .unit-header {
        margin: 0 auto 0 auto;
        display: flex;
        align-items: center;

        h1 {
            font-size: 28px;
            margin-left: 20px;
            color: $darker-grey;
        }

        svg {
            max-width: 50px;
            max-height: 30px;
        }

        img {
            max-width: 50px;
            max-height: 50px;
        }

        .edit {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                display: inline-block;
                margin-top: 15px;
                svg {
                    margin-right: 10px;
                }
            }
        }
    }

}
