@import "../../stylesheets/vars.scss";

.action-menu-container {
    margin-left: auto;
    position: relative;

    .unit-menu {
        display: flex;
        align-items: center;
        padding: 5px 12px;
        color: black;
        font-weight: bold;
        background-color: white;
        border-radius: 4px;
        cursor: pointer;

        svg {
            fill: black;
            margin-left: 15px;
            width: 26px;
        }
    }

    .action-menu {
        position: absolute;
        display: block;
        top: 38px;
        right: 0;
        min-width: 175px;
        z-index: 4;
        background: white;
        border: solid 1px $lightest-grey;
        border-radius: 4px;
        box-shadow: 0 1px 0 1px $lighter-grey;

        &:focus {
            outline: none;
        }

        li {
            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                color: $darker-grey;
                display: inline-block;
                margin: 2px 1px 2px 10px;
                width: 24px;
                height: auto;

                &.svg-inline--fa {
                    font-size: 14px;
                    margin-right: 6px;
                    width: 16px;
                    height: auto;
                }
            }

            &.disabled {
                cursor: not-allowed;

                svg {
                    color: $medium-grey;
                }
            }

            a {
                padding: 15px 15px 15px 15px;
                color: $darker-grey;
                text-decoration: none;
                width: 100%;

                &.disabled {
                    color: $medium-grey;
                    cursor: not-allowed;
                }
            }

            &:hover:not(.disabled) {
                background-color: $lightest-grey;

                a {
                    color: $primary-orange;
                    font-weight: bold;
                }

                svg {
                    color: $primary-orange;
                }
            }

            &:not(:first-child) {
                border-top: 3px solid $background;
            }

        }

    }


}


