@import "../../stylesheets/vars";
@import "../../stylesheets/forms";

table.servicesUsed, table.servicesAvailable, table.servicesRequested {

    thead {
        th {
            &.name {
                width: 20%;
                padding-left: 15px;
            }

            &.status {
                width: 30%;
            }

            &.action {
                width: 45%;
                text-align: right;
            }
        }
    }

    tbody {
        td {
            &.name {
                padding-left: 15px;
            }

            &.status {
                color: $dark-grey;
            }

            &.action {
                text-align: right;
            }

            div.actions {
                word-break: keep-all;
                display: flex;

                button {
                    &:first-child {
                        margin-left: auto;
                    }

                    &:last-child {
                        margin-left: 15px;
                    }

                }

                @media (max-width: $medium) {
                    flex-direction: column;
                    a:last-child {
                        margin-left: auto;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

.request-connection-service {
    display: flex;
    max-width: $medium;
    width: 100%;
    margin: 40px auto 25px auto;

    @media (max-width: $compact-medium) {
        flex-direction: column;
        margin: 40px 15px 25px 15px;
    }


    a.back-to-services {
        display: flex;
        align-items: flex-start;
        color: $blue;
        text-decoration: underline;

        svg {
            margin-right: 5px;
            fill: $blue;
            height: 22px;
        }
    }

    div.request-connection-service-form {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-left: 60px;

        @media (max-width: $compact-medium) {
            width: 100%
        }

        h1 {
            margin-bottom: 20px;
            color: $primary-orange;
            font-size: 22px;
        }

        h2 {
            margin-bottom: 20px;
            color: $primary-orange;
        }

        img {
            width: 62px;
            margin-bottom: 20px;
        }

        div.checkbox {
            margin-top: 25px;
        }
    }
}

.service-confirmation {
    margin-left: 15px;
}
