@import "../../../stylesheets/vars";

table.service_requests{

    thead {
        th {
            &.name {
                width: 20%;
                padding-left: 15px;
            }

            &.requester__name {
                width: 25%;
            }

            &.description {
                width: 24%;
            }

            &.created_at {
                width: 17%;
            }
            &.status {
                width: 16%;
                text-align: center;
            }
        }
    }

    tbody {
        td {
            &.name {
                padding-left: 15px;
            }

            &.status {
                text-align: center;
            }

            &.open {
                text-align: right;
            }
        }
    }
}

.mod-entities {

    .service-request-filter {
        display: flex;
        @media (max-width: $compact-medium) {
            flex-direction: column;
        }

        .service-request-filter-select {
            width: 290px;
            @media (max-width: $compact-medium) {
                margin: 15px 0;
            }

        }
    }

}
