CLIENT_ID=<Your OIDC Client-ID>
CLIENT_SECRET=<Your OIDC Client-Secret>

AUDIENCE=https://proxy.sram.surf.nl

SECRET=<Choose your Secret...>

ADMIN=<your SRAM UID >

LDAP_URL=ldap://localhost:1389/dc=example,dc=org
LDAP_BIND=cn=admin,dc=example,dc=org