# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
coverage.json
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# macOS crap
.DS_Store

# Environments
.env
.venv
.idea
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

DEMO.txt
TODO.txt
DEMO.md
TODO.md
questions.txt
LOGIN_FLOWS.md

log

# server config
server/config/config.yml
server/config/jwt_private_key
server/config/jwt_public_keys.json
server/config/saml_copy
server/config/saml

sbs-api.wsgi
server/static/disclaimer.css
git.info
acc_config.yml
scraps
venvbackup/
.vscode
server/requirements/pipdeptree
.venv310/
.venv_old/
server/config/config.yml
server/pipdeptree.txt
sample_json/
LIBXML2.md
login.svg
.run
server/cron/idp_metadata.json
sql_snippets
privkey.json
performance
pipdeptree.txt
