DB_NAME=sbs
DB_USER=sbs
DB_PASS=put in a secret

SECRET=put in a secret

API_USER=sysadmin
API_PASS=put in a secret

MAIL_HOST=localhost
MAIL_PORT=1025

BASE_URL=http://localhost:3000

ADMIN_USERS="urn:admin"
