# these are only needed if you want to connect to a real upstream OP
# the default install will mock the login, so you won't need these
CLIENT_ID=oidc_clientid
CLIENT_SECRET=oidc_client_secret
AUDIENCE=https://upstream-op.example.com

# generic encryption secret for internal use
SECRET=geheim

# if you connect an extern OP, put the sub of the admin user for SBS here
ADMIN=<your SRAM UID >

# optional, if you want to use a real LDAP server
LDAP_URL=ldap://localhost:1389/dc=example,dc=org
LDAP_BIND=cn=admin,dc=example,dc=org