@import "../../stylesheets/vars";


div.missing-services {
    width: 100%;
    max-width: $medium;

    @media (max-width: $tablet-max) {
        padding: 10px 15px;
    }

    margin: 20px auto;
    padding: 20px;
    background-color: #ffeed9;

    @for $i from 0 through 3 {
        &.services_#{$i} {
            margin-top: calc(250px - (#{$i} * 75px));
        }
    }

    a {
        font-weight: bold;
    }
}
