@import "../stylesheets/vars.scss";

.app-container {
    display: flex;
    position: relative;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;

    .__react_component_tooltip {
        text-align: center;
        max-width: 280px;
        word-break: break-word;
        padding: var(--sds--space--1) var(--sds--space--1-and-a-half);
        border-radius: 6px;
        background-color: var(--sds--color--gray--500);
        color: var(--sds--color--white);
        align-items: center;
    }

    .__react_component_tooltip.place-top:after {
        border-top-color: var(--sds--color--gray--500) !important;
    }

    .__react_component_tooltip.show {
        opacity: .98;
    }

    .select-disabled__single-value {
        color: var(--sds--color--gray--500);
    }

}

