@import "../stylesheets/vars.scss";

.mod-aup {
    max-width: 620px;
    margin: 25px auto 40px auto;
    width: 100%;

    @media (max-width: 680px) {
        padding: 0 15px;
    }

    h1 {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    div.disclaimer {
        background-color: #fef595;
        padding: 25px;
        margin: 25px 0;
        font-size: 16px;
    }

    div.terms {
        margin: 25px 0;
        background-color: $background;
        padding: 15px;
    }

    button {
        min-width: 100%;
        max-width: 100%;
    }
}