@import "../stylesheets/vars.scss";

.mod-authorisation-group {
    background-color: $background;

    div.title {
        font-size: 22px;
        color: $dark-grey;
        max-width: $medium;
        margin: 0 auto;
        padding: 10px 0 5px 0;

        p {
            padding: 10px 0 10px 0;
        }

        a {
            display: inline-block;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            margin: 10px 0;
            color: $blue;

            &:hover {
                font-weight: bolder;
            }

            svg {
                margin-right: 10px;
            }
        }
    }

    .authorisation-group {
        max-width: $medium;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin: 0 auto 25px auto;
        background-color: white;
        padding: $medium-padding;

        .error {
            color: $red;
            display: inline-block;
            font-size: 14px;
        }

        div.input-field, div.select-field {
            margin-top: 15px;
        }

        .required-marker {
            color: $red;
            font-size: 18px;
            font-weight: bold;
        }

        div.checkbox {
            margin-top: 10px;
        }

        section.actions {
            margin: $medium-margin 0;

            a.cancel, a.delete {
                margin-left: 25px;
            }

            a.white {
                margin-left: 25px;
            }
        }

    }

    .authorisation-services, .authorisation-members {
        max-width: $medium;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin: 0 auto 15px auto;
        background-color: white;
        padding: $medium-padding;

        &.no-admin {
            padding: 0 0 0 $medium-padding;
        }

        div.checkbox {
            margin: 15px 0 0 0;
        }
    }

    .authorisation-services-connected, .authorisation-members-connected, .authorisation-invitations-connected {
        padding: 15px 5px;

        p.title {
            color: $dark-grey;
            font-size: 18px;
            margin: 15px 0 10px 0;
        }

        em.warning {
            color: darken($orange, 20%);
            display: inline-block;
            margin-bottom: 10px;
            font-size: 14px;
        }

        table.connected-services, table.connected-members, table.connected-invitations {
            width: 100%;

            th {
                text-align: left;
                cursor: pointer;
                padding: 5px;

                &.actions {
                    width: 10%;
                    cursor: default;
                    font-weight: normal;

                    svg.fa-info-circle {
                        cursor: pointer;
                        margin-left: 20px;
                        color: $blue;
                    }
                }

                &.name {
                    width: 25%;
                }

                &.entity_id {
                    width: 25%;
                }

                &.description {
                    width: 40%;
                }

                svg {
                    margin-left: 15px;
                    color: $lighter-grey;

                    &.current, &.reverse {
                        color: $blue;
                    }
                }
            }

            tbody {
                tr {
                    &:nth-child(odd) {
                        background-color: $lightest-grey;
                    }
                }
            }

            td {
                vertical-align: middle;
                padding: 7px;

                &.actions {
                    text-align: left;

                    svg {
                        color: $red;
                        cursor: pointer;
                        margin-left: 20px;
                    }

                    &.disabled {
                        svg {
                            color: $medium-grey;
                            cursor: default;
                        }
                    }
                }

                &.role {
                    padding: 0 25px 0 0;
                }

                .tooltip-container {
                    margin-left: 15px;
                    color: $blue;
                }
            }
        }

    }

}

.ReactModalPortal .ReactModal__Overlay {
    section.user-service-profiles-pre-flight {
        text-align: left;
        margin: 10px 10px 15px 25px;
        font-size: 14px;

        ul.user-service-profile {
            li:first-child {
                font-weight: bold;
                margin-top: 10px;
            }
        }
    }
}

