@import "../stylesheets/vars.scss";

.mod-collaborations {
  background-color: $background;
  padding: $medium-padding 0;

  .title {
    font-size: 22px;
    color: $dark-grey;
    max-width: $medium;
    margin: 0 auto;
    padding: 25px 0;
  }

  .info-block-container {
    max-width: $medium;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    .info-block {
      border-radius: $br;
      background-color: white;
      border: solid 1px $lightest-grey;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
      padding: 15px 10px;
      width: calc(25% - 2em);

      .header {
        text-transform: uppercase;
        font-size: 20px;
        padding: 10px 5px;
        border-bottom: solid 1px $lighter-grey;
        display: flex;

        .counter {
          font-size: 24px;
          margin-left: auto;
        }

        &.join-requests {
          color: $join-request;
        }

        &.invitations {
          color: $invitations;
        }

        &.authorisations {
          color: $authorization;
        }

        &.services {
          color: $services;
        }

      }

      div.content {
        padding: 10px 5px;

        section.show-more {
          margin-top: 15px;
          text-align: center;
        }

      }

      div.profile {
        p {
          margin-bottom: 5px;
        }
      }

      div.join-request, div.invitation, div.collaboration-services, div.collaboration-authorisations {
        a {
          display: inline-block;
          color: $dark-grey;
          margin-bottom: 5px;
          text-decoration: none;

          &:visited {
            text-decoration: none;
          }

          &:hover {
            color: $blue;
          }
        }

        svg {
          color: $blue;
          margin-right: 15px;
        }

        span.count {
          display: inline-block;
          color: $blue;
          margin-left: 5px;
        }
      }
    }
  }

  .collaboration-search {
    background-color: white;
    padding: $medium-padding 0;
    max-width: $medium;
    border-radius: $br;
    margin: 15px auto 10px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    position: relative;

    div.search {
      display: flex;
      padding: 0 15px;
      position: relative;

      svg.fa-search {
        position: absolute;
        font-size: 16px;
        color: $blue;
        top: 12px;
        left: 22px;
      }

      input[type=text] {
        flex-grow: 2;
        border: 1px solid $lighter-grey;
        padding-left: 45px;
        border-radius: $br;
        font-size: 16px;

        &.with-button {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &[disabled] {
          background-color: $light-grey;
        }
      }

      a.button.blue {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .collaboration-list {
    background-color: white;
    padding: $medium-padding;
    max-width: $medium;
    border-radius: $br;
    margin: 15px auto 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    position: relative;

    table {
      width: 100%;

      th {
        text-align: left;
        cursor: pointer;
        padding: 0 5px 10px 5px;

        svg {
          margin-left: 15px;
          color: $lighter-grey;

          &.current, &.reverse {
            color: $blue;
          }
        }
      }

      tbody {
        tr {
          cursor: pointer;

          &:hover {
            color: $blue;
          }

          &:nth-child(odd) {
            background-color: $background;
          }
        }
      }

      td {
        vertical-align: middle;
        padding: 5px;
      }
    }
  }

  .__react_component_tooltip {
    text-align: center;
  }


}
