@import "../stylesheets/vars.scss";
@import "../stylesheets/forms";

.mod-collaboration-request-container {
    width: 100%;
}

.mod-collaboration-request {
    max-width: $medium;
    width: 100%;
    margin: 0 auto;

    p.title {
        font-size: 22px;
        color: $dark-grey;
        padding-bottom: 20px;
    }

    .collaboration-request {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin: 0 auto 25px auto;
        background-color: $lightest-grey;
        padding: $medium-padding;

        .error {
            color: $red;
            display: inline-block;
            font-size: 14px;
        }

        div.input-field, div.select-field {
            margin-top: 15px;
        }

    }
}
