@import "../stylesheets/vars.scss";

.unit-info {
    margin-top: 6px;

    li {
        display: flex;
        align-items: center;
        padding: 3px 0;

        @media (max-width: 340px) {
            &.collaboration-url {
                display: none;
            }
        }

        svg {
            margin-right: 18px;
            width: 18px;
            height: auto;
        }

        a {
            max-width: 500px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;

            @media (max-width: $compact-medium) {
                max-width: 280px;
            }

        }

    }

}

.join-request-action {
    margin-left: auto;
}

span.contains-copy {
    position: relative;
    width: 88px!important;

    section.copy-to-clipboard {
        position: absolute;
        border: none;
        padding: 0;
        display: inline-block;
        right: 1px;
        top: -2px;

        svg {
            width: 24px;
            height: auto;
        }
    }
}

span.contains-tooltip {
    svg {
        color: $blue;
        width: 22px;
        margin-left: 3px;
    }
}

