@import "../stylesheets/vars.scss";

.mod-collaboration-services {
    background-color: $background;
    margin-bottom: $medium-padding;

    div.title {
        font-size: 22px;
        color: $dark-grey;
        max-width: $medium;
        margin: 0 auto;
        padding: 10px 0 5px 0;

        p {
            padding: 10px 0 10px 0;
        }

        a {
            display: inline-block;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            margin: 10px 0;
            color: $blue;

            &:hover {
                font-weight: bolder;
            }

            svg {
                margin-right: 10px;
            }
        }
    }

    .collaboration-services {
        max-width: $medium;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin: 0 auto 15px auto;
        background-color: white;
        padding: $medium-padding;

        div.checkbox {
            margin-bottom: 20px;
        }
    }

    .collaboration-services-connected {
        padding: 15px 5px;

        p.title {
            color: $dark-grey;
            font-size: 18px;
            margin: 15px 0;
        }

        table.connected-services {
            width: 100%;

            th {
                text-align: left;
                cursor: pointer;
                padding: 5px;

                &.actions {
                    width: 10%;
                    cursor: default;
                    font-weight: normal;

                    svg.fa-info-circle {
                        cursor: pointer;
                        margin-left: 20px;
                        color: $blue;
                    }
                }

                &.name {
                    width: 25%;
                }

                &.entity_id {
                    width: 25%;
                }

                &.description {
                    width: 40%;
                }

                svg {
                    margin-left: 15px;
                    color: $lighter-grey;

                    &.current, &.reverse {
                        color: $blue;
                    }
                }
            }

            tbody {
                tr {
                    cursor: pointer;

                    &:nth-child(odd) {
                        background-color: $lightest-grey;
                    }
                }
            }

            td {
                vertical-align: middle;
                padding: 5px;

                &.open {
                    svg {
                        color: $blue;

                        &:hover {
                             color: darken($blue, 15%);
                        }

                    }

                }

                &.actions {
                    text-align: left;

                    svg {
                        color: $red;
                        margin-left: 20px;
                    }
                }

                &.role {
                    padding-left: 25px;
                }

                .tooltip-container {
                    margin-left: 15px;
                    color: $blue;
                }
            }
        }

    }

}
