@import "../stylesheets/vars.scss";

.collaboration {
  background-color: $background;
  padding: 35px 0;

  .title {
    font-weight: bold;
    font-size: 28px;
  }

  .info-block-container {
    max-width: $medium;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .info-block {
      border-radius: $br;
      background-color: white;

      &.join-request {
        title {
          color: $join-request;
        }
      }

      &.authorization {
        title {
          color: $authorization;
        }
      }

      &.services {
        title {
          color: $services;
        }
      }

      &.profile {
        title {
          color: $profile;
        }
      }
    }

    .collaborations {
      background-color: white;

      .search {
        display: flex;

        input[type=search] {
          display: block;
          flex-grow: 2;
          border: 1px solid $lighter-grey;
          padding: 6px;
          border-radius: $br;
          font-size: 14px;
          margin-top: 5px;

          &[disabled] {
            background-color: $light-grey;
          }

        }
      }
    }

    .form-label {
      margin-bottom: 5px;
      display: inline-block;
    }

  }

  .__react_component_tooltip {
    text-align: center;
  }


}
