@import "../stylesheets/vars.scss";

.unit-info {

    li {
        display: flex;
        align-items: center;
        padding-top: 4px;

        svg {
            margin-right: 18px;
            width: 1.25em !important;
            color: $dark-grey !important;
            fill: $dark-grey !important;
        }


    }

}

span.contains-copy {
    position: relative;

    section.copy-to-clipboard {
        position: absolute;
        border: none;
        padding: 0;
        display: inline-block;
        right: 1px;
    }
}

