@import "../stylesheets/vars.scss";
@import "../stylesheets/forms";

.mod-new-collaboration-container {

    h2.no-organisations {
        font-size: 18px;
        line-height: 22px;
        color: $dark-grey;
        padding: 25px 0 5px 0;

    }

    .new-collaboration {
        margin: 25px auto;
        max-width: $medium;
        width: 100%;

        display: grid;
        grid-template-columns: [first] 1fr [second] 1fr;
        column-gap: 50px;
        @media (max-width: $medium) {
            padding: 0 15px;
        }

        @media (max-width: $compact-medium) {
            display: flex;
            flex-direction: column;
        }

        .input-field, .actions, div.checkbox, .select-field, span.error {
            grid-column-start: first;
        }

        .section-separator {
            grid-column: 1/-1;
            color: $blue;
            font-weight: bold;
            border-bottom: 1px solid $blue;
            padding: 25px 0 5px 0;

            &.last {
                margin-bottom: 10px;
            }
        }

        div.input-field, div.select-field, div.checkbox {
            margin-top: 15px;
        }

    }
}
