@import "../stylesheets/vars.scss";

.mod-invitation {
  background-color: $background;
  padding-top: 30px;

  .invitation {
    max-width: $medium;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    margin: 0 auto;
    background-color: white;
    padding: 30px $medium-padding;

    .title {
      font-size: 22px;
      color: $dark-grey;
      margin-bottom: 30px;
    }

    .error {
      color: $red;
      display: inline-block;
      font-size: 14px;
    }

    div.input-field {
      margin-top: 15px;
    }

    .required-marker {
      color: $red;
      font-size: 18px;
      font-weight: bold;
    }
    div.checkbox {
      margin-top: 10px;
    }
    section.actions {
      margin: 30px 0;

      a.cancel {
        margin-left: 25px;
      }

      a.white {
        margin-left: 25px;
      }
    }

  }
}
