@import "../stylesheets/vars.scss";
@import "../stylesheets/forms";

.mod-invitation {
    max-width: $medium;
    margin: 0 auto;
    width: 100%;

    .invitation {
        margin: 0 auto;

        .error {
            color: $red;
            display: inline-block;
            font-size: 14px;
        }

        .required {
            color: $red;
        }

        .required-marker {
            color: $red;
            font-size: 18px;
            font-weight: bold;
        }

        div.checkbox, label.policy {
            display: inline-block;
            margin-top: 10px;
        }


    }
}
