@import "../stylesheets/vars.scss";
@import "../stylesheets/forms";

.mod-join-request {
    max-width: $medium;
    width: 100%;
    margin: 0 auto;


    .join-request-container {
        width: 70%;
        margin-bottom: 25px;

        .error {
            color: $red;
            display: inline-block;
            font-size: 14px;
        }

        div.input-field {
            margin-top: 15px;
        }

    }
}
