@import "../stylesheets/vars.scss";

.mod-join-request {
    max-width: $medium;
    width: 100%;
    margin: 0 auto;


    p.title {
        font-size: 22px;
        color: $dark-grey;
        padding-bottom: 20px;
    }

    .join-request-container {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin-bottom: 25px;
        background-color: $lightest-grey;
        padding: $medium-padding;

        .error {
            color: $red;
            display: inline-block;
            font-size: 14px;
        }

        div.input-field {
            margin-top: 15px;
        }

        section.actions {
            margin: $medium-margin 0;

            a.cancel {
                margin-left: 25px;
            }

            a.white {
                margin-left: 25px;
            }
        }

    }
}
