@import "../stylesheets/vars.scss";

.mod-new-api-key {
    max-width: $medium;
    margin: 0 auto;

    p.title {
        font-size: 22px;
        color: $dark-grey;
        padding-bottom: 20px;
    }

    .new-api-key {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin-bottom: 25px;
        background-color: $lightest-grey;
        padding: $medium-padding;

        .error {
            color: $red;
            display: block;
            font-size: 14px;
        }

        .info-msg {
            color: $dark-grey;
            display: block;
            font-size: 14px;
        }

        div.input-field, div.date-field {
            margin-top: 15px;
        }

        section.actions {
            margin: $medium-margin 0;

            a.cancel {
                margin-left: 25px;
            }
        }

    }
}
