@import "../stylesheets/vars.scss";
@import "../stylesheets/forms";

.mod-new-collaboration-invitation {
    max-width: $medium;
    width: 100%;
    margin: 0 auto;

    .new-collaboration-invitation {
        margin-bottom: 25px;

        .error {
            color: $red;
            display: block;
            font-size: 14px;
        }

        .info-msg {
            color: $dark-grey;
            display: block;
            font-size: 14px;
        }

        section.email-tags {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .email-tag {
                border: 1px solid $lighter-grey;
                border-radius: $br;
                margin: 10px 10px 0 0;
                display: flex;
                align-content: center;
                align-items: center;
                background-color: $lightest-grey;

                span {
                    &:first-child {
                        padding: 8px 14px;
                        word-break: break-all;
                    }

                    &:last-child {
                        padding: 8px 14px;
                        cursor: pointer;
                        font-size: 14px;
                        color: $red;

                        &.disabled {
                            cursor: not-allowed;
                            color: $primary-orange;

                        }
                    }
                }
            }
        }

        td.invitation-link {
            padding: 12px;
            text-align: center;
        }

    }

    .invitation-form {
        width: 80%;

        @media (max-width: $tablet-max) {
            width: 100%;
        }

    }
}
