@import "../stylesheets/vars.scss";

.mod-new-organisation-invitation {
    background-color: $background;
    margin-bottom: $medium-padding;

    div.title {
        font-size: 22px;
        color: $dark-grey;
        max-width: $medium;
        margin: 0 auto;
        padding: 10px 0 5px 0;

        p {
            padding: 10px 0 10px 0;
        }

        a {
            display: inline-block;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            margin: 10px 0;
            color: $blue;

            &:hover {
                font-weight: bolder;
            }

            svg {
                margin-right: 10px;
            }
        }
    }

    .tabs {
        max-width: $medium;
        margin: 0 auto;

        display: flex;

        .tab {
            flex: 1;
            padding: 20px;
            border-top-width: 2px;
            border-top-style: solid;
            cursor: pointer;

            &:not(.active) {
                background: $light-grey;
                border-color: $light-grey;

                h2 {
                    color: $dark-grey;
                }
            }

            &.single-tab {
                padding-bottom: 10px;
            }

            &.active {
                background: white;
                border-color: $blue;

                h2 {
                    color: $blue;
                    font-weight: bold;
                }
            }
        }

    }

    .new-organisation-invitation {
        max-width: $medium;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin: 0 auto 25px auto;
        background-color: white;
        padding: $medium-padding;

        .error {
            color: $red;
            display: block;
            font-size: 14px;
        }

        .info-msg {
            color: $dark-grey;
            display: block;
            font-size: 14px;
        }

        div.input-field, div.date-field {
            margin-top: 15px;
        }

        section.email-tags {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .email-tag {
                border: 1px solid $lighter-grey;
                border-radius: $br;
                margin: 10px 10px 0 0;
                display: flex;
                align-content: center;
                align-items: center;
                background-color: $lightest-grey;

                span {
                    &:first-child {
                        padding: 8px 14px;
                        word-break: break-all;
                    }

                    &:last-child {
                        padding: 8px 14px;
                        cursor: pointer;
                        font-size: 14px;
                        color: $red;

                        &.disabled {
                            cursor: not-allowed;
                            color: $primary-green;

                        }
                    }
                }
            }
        }

        section.actions {
            margin: $medium-margin 0;

            a.cancel {
                margin-left: 25px;
            }
        }

        td.invitation-link {
            padding: 12px;
            text-align: center;
        }

    }
}
