@import "../stylesheets/vars.scss";

.mod-not-found {

    max-width: $medium;
    width: 100%;
    margin: 40px auto;

    div#lottie {
        max-width: 600px!important;
    }

    p.not-found-msg {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 25px;
    }

}
