@import "../stylesheets/vars.scss";

.mod-not-found {

    max-width: $medium;
    width: 100%;
    margin: 40px auto;

    @media (max-width: $tablet-max) {
        margin: 40px 20px;
    }

    svg {
        margin-top: 25px;
        width: 480px;
        height: auto;
    }

    p.not-found-msg {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 25px;
    }

}
