@import "../stylesheets/vars.scss";

.mod-organisation-detail {

  background-color: $background;
  padding: $medium-padding 0;

  .title {
    font-size: 22px;
    color: $dark-grey;
    max-width: $medium;
    margin: 0 auto;
    padding: 0 0 25px 0;
  }

  .organisation-detail {
    max-width: $medium;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    margin: 0 auto;
    background-color: white;
    padding: 10px $medium-padding 30px $medium-padding;


    .error {
      color: $red;
      display: inline-block;
      font-size: 14px;
    }

    div.input-field {
      margin-top: 15px;
    }

  }

}
