@import "../stylesheets/vars.scss";
@import "../stylesheets/forms";

.mod-organisation-invitation {
    max-width: $medium;
    margin: 0 auto;
    width: 100%;

    .children {
        margin-top: 15px;
    }

    .organisation-invitation {

        .error {
            color: $red;
            display: inline-block;
            font-size: 14px;
        }

        div.input-field {
            margin-top: 15px;
        }

        .required {
            color: $red;
        }

        .required-marker {
            color: $red;
            font-size: 18px;
            font-weight: bold;
        }

        div.checkbox {
            margin-top: 10px;
        }

    }
}
