@import "../stylesheets/vars.scss";

.mod-organisation-invitation {
    background-color: $background;

    div.title {
        font-size: 22px;
        color: $dark-grey;
        max-width: $medium;
        margin: 0 auto;
        padding: 10px 0 5px 0;

        p {
            padding: 10px 0 10px 0;
        }

        a {
            display: inline-block;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            margin: 10px 0;
            color: $blue;

            &:hover {
                font-weight: bolder;
            }

            svg {
                margin-right: 10px;
            }
        }
    }

    .organisation-invitation {
        max-width: $medium;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin: 0 auto 25px auto;
        background-color: white;
        padding: $medium-padding;

        .error {
            color: $red;
            display: inline-block;
            font-size: 14px;
        }

        div.input-field {
            margin-top: 15px;
        }

        .required {
            color: $red;
        }

        .required-marker {
            color: $red;
            font-size: 18px;
            font-weight: bold;
        }

        div.checkbox {
            margin-top: 10px;
        }

        section.actions {
            margin: $medium-margin 0;

            a.cancel, a.white, a.delete {
                margin-left: 25px;
            }

        }

    }
}
