@import "../stylesheets/vars.scss";

.mod-pam-web-sso-container {
    display: flex;
    width: 100%;

    .mod-pam-web-sso {
        max-width: 570px;
        margin: 25px auto 40px auto;
        display: flex;
        flex-direction: column;

        @media (max-width: 680px) {
            padding: 0 15px;
        }

        h1 {
            margin-bottom: 25px;
        }

        h3 {
            font-size: 22px;
            line-height: 26px;
        }

        span.attr {
            font-weight: bold;
        }

        .service {
            display: flex;
            margin-bottom: 25px;

            .image img {
                max-height: 300px;
                max-width: 300px;
                border-radius: 5px;
            }

            .details {
                display: flex;
                flex-direction: column;
                margin-left: 15px;
            }
        }

        p.info {
            margin: 5px 0 15px 0;
        }

        div.org-attribute {
            margin-bottom: 4px;
        }

        p.pin {
            font-weight: bold
        }

        div.pin-value {
            margin: 35px 0;
            display: flex;

            div.pin-value-inner {
                display: flex;
                margin: 0 auto;
                span.value {
                    font-size: 36px;
                    font-weight: bold;
                    margin-right: 18px;
                    letter-spacing: 8px;
                }
                section.copy-to-clipboard {
                    border: none;
                    font-size: 18px;
                    &:hover {
                        background-color: transparent;
                    }
                    svg {
                        width: 34px;
                    }
                }
            }
        }

        div.actions {
            margin: 25px 0;
        }

    }
}