@import "../stylesheets/vars.scss";
@import "../stylesheets/forms";

.mod-user-profile {

    div.user-profile {
        margin-bottom: 25px;
        width: 50%;

        @media (max-width: $compact-medium) {
            width: 100%;
        }

        .attributes {
            display: flex;
            flex-direction: column;

            span.attribute-key {
                margin: 12px 0 6px 0;
                color: black;
                font-weight: bold;
            }

        }

        div.input-field, div.select-field {
            margin-top: 15px;
        }

        .required-marker {
            color: var(--sds--color--red--400);
            font-size: 18px;
            font-weight: bold;
        }

        div.checkbox {
            margin-top: 10px;
        }

    }

}
