@import "../stylesheets/vars.scss";

.mod-scim-container {
    .service-entities {
        display: flex;
        flex-direction: column;
        border-bottom: solid 4px $lightest-grey;
        padding: 15px 0;
        width: 100%;

    }

    table.scimServices {

        thead {
            th {
                &.name {
                    width: 20%;
                    padding-left: 15px;
                }

                &.scim_url {
                    width: 35%;
                }

                &.scim_enabled, &.scim_provision_users, &.scim_provision_groups {
                    text-align: center;
                    width: 15%;
                }

            }
        }

        tbody {
            td {
                &.name {
                    padding-left: 15px;
                }

                &.scim_enabled, &.scim_provision_users, &.scim_provision_groups {
                    text-align: center;
                }
            }
        }
    }

}