@import "../stylesheets/vars.scss";
@import "../stylesheets/circle.scss";


.mod-mfa {
    max-width: 570px;
    margin: 25px auto 40px auto;
    width: 100%;

    @media (max-width: 680px) {
        padding: 0 15px;
    }

    &.verify {
        max-width: 570px;
    }

    h1 {
        margin-bottom: 25px;
    }

    .register-header {
        padding: $medium-padding 0 10px 0;

        .sds--toaster {
            max-width: initial;
            margin: 20px 0;
        }
    }

    .authenticator-problems {
        padding: $medium-padding 0;

        ul {
            margin-bottom: 25px;
        }

        .select-respondents {
            padding-top: $medium-padding;

            .checkbox {
                padding-top: $medium-padding;

                label.disabled {
                    color: black;
                }

            }
        }
    }

    .input-field-container {
        input[type='text'] {
            max-width: 125px;
        }

    }

    .input-field-container-large {
        min-width: 100%;

        input[type='text'] {
            min-width: 100%;
        }

    }

    .step {
        margin-bottom: 30px;

        &.clear {
            margin-bottom: 0;
        }
    }

    .step-actions {
        padding-top: 5px;

        h1 {
            margin-bottom: 15px;
        }

        &.center {
            display: flex;

            .input-field-container {
                flex-direction: column;
                display: flex;
                margin: 0 auto 25px auto;
            }

        }
    }


    ul {
        padding: 0 $medium-padding;
        margin-left: 15px;
        list-style: initial;

        li {
            line-height: 26px;
        }
    }

    .qr-code-container img {
        width: 225px;
        height: auto;
        margin-left: 50px;
        margin-top: 20px;
    }

    .explain {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        font-size: 15px;
        margin-top: 15px;

        a {
            display: block;
            margin-top: 3px;
        }
    }

    span.error {
        display: block;
        margin-top: 5px;
        color: var(--sds--color--red--400);
    }

    section.actions {
        display: flex;
        margin-top: 20px;

        button {
            margin-top: 0;
        }

    }

    div.totp-value-container {
        display: flex;
        margin-top: 15px;
        width: 330px;
        justify-content: space-between;

        input.totp-value {
            width: 40px;
            padding-left: 14px;
            height: 40px;
            font-size: 22px;
            border: 1px solid rgb(118, 118, 118);

            &[disabled] {
                background-color: rgba(239, 239, 239, 0.3);
                border: 1px solid rgba(118, 118, 118, 0.3);
            }
        }
    }
}
