@import "../stylesheets/vars.scss";

.mod-service-connection-request {
    max-width: $medium;
    margin: 0 auto;
    width: 100%;

    div.title {
        color: $dark-grey;
        padding: 10px 0 5px 0;

        p.title {
            font-size: 22px;
            padding: 10px 0 10px 0;
        }

        span.subTitle {
            display: inline-block;
            margin-bottom: 25px;
        }

        a {
            display: inline-block;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            margin: 10px 0;
            color: $blue;

            &:hover {
                font-weight: bolder;
            }

            svg {
                margin-right: 10px;
            }
        }
    }

    .service-connection-request-container {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin-bottom: 25px;
        background-color: $lightest-grey;
        padding: $medium-padding;

        .error {
            color: $red;
            display: inline-block;
            font-size: 14px;
        }

        div.input-field {
            margin-top: 15px;
        }

        section.actions {
            margin: $medium-margin 0;

            a:not(:first-child) {
                margin-left: 25px;
            }

        }
    }
}
