@import "../stylesheets/vars.scss";

.mod-service-denied {
    width: 100%;


    .content {
        max-width: $compact-medium;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;

        h1 {
            margin: 20px 0 15px 0;
        }

        svg {
            margin-top: 25px;
            width: 140px;
            height: auto;
        }

        div.status {
            margin: 15px 0;
        }


    }
    .info {

    }
    .service-denied-info {
        display: flex;
        background-color: $background;
        @media (max-width: $compact-medium) {
            flex-direction: column;
            width: 100%;
        }
        margin: 60px auto 0;
        max-width: 768px;
        padding-bottom: 35px;
    }

    div.ticket {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 15px;

        p {
            margin-bottom: 8px;
        }

        span {
            font-weight: bold;

            &.value {
                font-weight: normal;
                margin-bottom: 10px;
            }
        }
    }

}
