@import "../stylesheets/vars.scss";

.mod-service-request {
    max-width: $medium;
    width: 100%;
    margin: 0 auto;

    div.title {
        font-size: 22px;
        color: $dark-grey;
        padding: 10px 0 5px 0;

        p {
            padding: 10px 0 10px 0;

            &.title {
                display: inline-block;
            }
        }

        svg.help {
            color: $blue;
            font-size: 16px;
            cursor: pointer;
            margin: 0 0 10px 5px;

            &:hover {
                color: darken($blue, 10%);
            }
        }
    }

    .service-request {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin: 0 auto 15px auto;
        background-color: $lightest-grey;
        padding: $medium-padding;
    }

    table.table-collaborations {
        width: 100%;
        margin-top: 25px;

        th {
            text-align: left;
            cursor: pointer;
            padding: 5px;

            &.actions, &.resend {
                width: 6%;
                cursor: default;
                font-weight: normal;

                svg.fa-info-circle {
                    cursor: pointer;
                    margin-left: 20px;
                    color: $blue;
                }
            }

            &.name {
                width: 25%;
            }

            &.service {
                width: 15%;
            }

            &.requester {
                width: 15%;
            }

            &.entity_id {
                width: 25%;
            }

            &.created_at {
                width: 15%;
            }

            &.description, &.message {
                width: 40%;
            }

            svg {
                margin-left: 15px;
                color: $lighter-grey;

                &.current, &.reverse {
                    color: $blue;
                }
            }
        }

        tbody {
            tr {

                &:nth-child(odd) {
                    background-color: $lightest-grey;
                }
            }
        }

        td {
            vertical-align: middle;
            padding: 5px;

        }
    }

    section.actions {
        margin: $medium-margin 0;

        a:not(:first-child) {
            margin-left: 25px;
        }
    }

}
