@import "../stylesheets/vars.scss";

.mod-server-error {
    max-width: $medium;
    margin: 20px auto;
    width: 100%;

    div.title {
        font-size: 20px;
        color: $dark-grey;
        padding: 10px 0 5px 0;

        p {
            padding: 10px 0 10px 0;
        }

    }

    .content {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin: 0 auto 25px auto;
        background-color: $lightest-grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px;

    }
}
