@import "../stylesheets/vars.scss";
@import "../stylesheets/forms";

.mod-service-request-container {
    width: 100%;

    div.title {
        display: flex;

        svg.help {
            color: $blue;
            font-size: 16px;
            cursor: pointer;
            margin-left: 5px;

            &:hover {
                color: darken($blue, 10%);
            }
        }
    }

    .mod-service-request {
        max-width: $medium;
        margin: 0 auto;

        @media (max-width: $compact-medium) {
            padding: 0 15px;
        }

        .result-feedback {
            padding: 40px 0;

            a.button {
                margin-top: 40px;
            }

        }

        .outstanding-service-request {
            margin: 25px 0;
        }

        .service-request {
            margin: 15px auto;
        }

        table.table-collaborations {
            width: 100%;
            margin-top: 25px;

            th {
                text-align: left;
                padding: 5px;

                &.name {
                    width: 35%;
                }

                &.role {
                    width: 15%;
                }

                &.organisation {
                    width: 40%;
                }

                &.actions {
                    width: 5%;
                }

                &.tooltips {
                    width: 5%;
                }

            }

            tbody {
                tr {

                    &:nth-child(odd) {
                        background-color: $lightest-grey;
                    }
                }
            }

            td {
                vertical-align: middle;
                padding: 5px;

                .tooltip-container {
                    color: $blue;
                }
            }
        }

    }
}

