@import "../stylesheets/vars.scss";

.mod-service-denied {
    max-width: $compact-medium;
    margin: 0 auto;
    width: 100%;

    .content {
        margin: 0 auto 25px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;

        h2 {
            margin: 20px 0 15px 0;
        }

        span.status {
            margin: 15px 0;
            font-size: 16px;
            line-height: 22px;
        }


    }

    div.ticket {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 15px;

        p {
            margin-bottom: 10px;
        }

        span {
            font-weight: bold;

            &.value {
                font-weight: normal;
                margin-bottom: 10px;
            }
        }
    }

}
