@import "../stylesheets/vars.scss";
@import "../stylesheets/forms";

.mod-service-request {
    max-width: $medium;
    width: 100%;
    margin: 0 auto;

    div.title {
        font-size: 22px;
        color: $dark-grey;
        padding: 20px;
        background-color: $background;

        p {
            padding: 10px 0 10px 0;

            &.title {
                display: inline-block;
            }
        }

        svg.help {
            color: $blue;
            font-size: 16px;
            cursor: pointer;
            margin: 0 0 10px 5px;

            &:hover {
                color: darken($blue, 10%);
            }
        }
    }

    .result-feedback {
        padding: 40px 0;

        a.button {
            margin-top: 40px;
        }

    }

    .outstanding-service-request {
        margin: 25px 0;
    }

    .service-request {
        margin: 15px auto;
    }

    table.table-collaborations {
        width: 100%;
        margin-top: 25px;

        th {
            text-align: left;
            padding: 5px;

            &.name {
                width: 35%;
            }

            &.role {
                width: 15%;
            }

            &.organisation {
                width: 40%;
            }

            &.actions {
                width: 5%;
            }

            &.tooltips {
                width: 5%;
            }

        }

        tbody {
            tr {

                &:nth-child(odd) {
                    background-color: $lightest-grey;
                }
            }
        }

        td {
            vertical-align: middle;
            padding: 5px;

            .tooltip-container {
                color: $blue;
            }
        }
    }

}
