@import "../stylesheets/vars.scss";

.mod-user-service-profiles {

    background-color: $background;
    padding: 0;

    .title {
        font-size: 22px;
        color: $dark-grey;
        max-width: $medium;
        margin: 0 auto;
        padding: 10px 0 5px 0;

        p {
            padding: 10px 0 10px 0;
        }

        a {
            display: inline-block;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            margin: 10px 0;
            color: $blue;

            &:hover {
                font-weight: bolder;
            }

            svg {
                margin-right: 10px;
            }
        }
    }

    .user-service-profiles {
        max-width: $medium;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        margin: 0 auto 15px auto;
        background-color: white;
        padding: $medium-padding 0;
    }

    .user-service-profiles-search {
        position: relative;

        div.search {
            display: flex;
            padding: 0 $medium-padding;
            position: relative;
            min-height: 40px;

            svg.fa-search {
                position: absolute;
                font-size: 16px;
                color: $blue;
                top: 12px;
                left: 30px;
            }

            input[type=text] {
                flex-grow: 2;
                border: 1px solid $lighter-grey;
                padding-left: 45px;
                border-radius: $br;
                font-size: 16px;

                &.with-button {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &[disabled] {
                    background-color: $light-grey;
                }
            }
        }
    }

    div.user-service-profiles-list {
        padding: $medium-padding;

        table {
            width: 100%;

            th {
                text-align: left;
                cursor: pointer;
                padding: 5px;

                &.name {
                    width: 15%;
                }

                &.email {
                    width: 15%;
                }

                &.uid {
                    width: 25%;
                }

                &.role {
                    width: 15%;
                }

                &.role {
                    padding-right: 25px;
                }

                &.since {
                    width: 20%;
                }

                &.actions {
                    width: 10%;
                    cursor: default;
                }

                svg {
                    margin-left: 15px;
                    color: $lighter-grey;

                    &.current, &.reverse {
                        color: $blue;
                    }
                }
            }

            tbody {
                tr {
                    cursor: pointer;

                    &:hover {
                        color: $blue;

                        td.open {
                            color: darken($blue, 15%);
                        }
                    }

                    &:nth-child(odd) {
                        background-color: $lightest-grey;
                    }
                }
            }

            td {
                vertical-align: middle;
                padding: 5px;

                &.open {
                    width: 35px;
                    text-align: left;
                    color: $blue;
                }

            }
        }

    }


}
