{% extends "mail_layout.html" %}
{% block title %}SRAM account deletion notification for {{ environment }}{% endblock %}
{% block content %}

    <p>Hi,</p>
    <p>The following users have been removed from SRAM in environment {{ environment }}
        because of inactivity by the suspended users cron job.</p>

    <p>Please delete them from the MMS.</p>

    <ul>
    {% for uid in uids  %}
        <li>{{ uid }}</li>
    {% endfor %}
    </ul>


    <p>This email is automatically sent for environment {{ environment }}.</p>

{% endblock %}
