{% extends "mail_layout.html" %}
{% block title %}SRAM account deletion notification for {{ environment }}{% endblock %}
{% block content %}

    <p>Hi,</p>
    <p>Below follow the results for the check for inactive user accounts on {{ environment }}.</p>

    <p>Current limits are:</p>
    <table>
        <tr>
            <td>Warning</td>
            <td>{{ dates[0] }}</td>
        </tr>
        <tr>
            <td>Suspension</td>
            <td>{{ dates[1] }}</td>
        </tr>
        <tr>
            <td>Last warning</td>
            <td>{{ dates[2] }}</td>
        </tr>
        <tr>
            <td>Deletion</td>
            <td>{{ dates[3] }}</td>
        </tr>
    </table>

    {% if warning_suspend|length -%}
        <p>The following accounts have received a suspension warning:</p>
        <ul>
            {% for mail in warning_suspend %}
                <li>{{ mail }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if suspend|length -%}
        <p>The following accounts have been suspended:</p>
        <ul>
            {% for mail in suspend %}
                <li>{{ mail }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if warning_delete|length %}
        <p>The following accounts have received a deletion warning:</p>
        <ul>
            {% for mail in warning_delete %}
                <li>{{ mail }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if delete|length %}
        <p>The following accounts have been deleted:</p>
        <ul>
            {% for mail in delete %}
                <li>{{ mail }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>This email is automatically sent for environment {{ environment }}.</p>

{% endblock %}
