{% extends "mail_layout.html" %}
{% block title %}SURF platform account deletion notification {% endblock %}
{% block content %}

    <p>Hi,</p>
    <p>User {{ user.name }} ({{ user.uid }}) is deleted on environment {{ environment }}
    at {{ date }}, because of inactivity by the suspended users cron job</p>

    <p>Please remove this user from Perun.</p>

    {% for key, value in attributes.items() %}
        <p>{{ key }}: {{ value }}</p>
    {% endfor %}

    <p>This email is automatically sent and can be suppressed by changing the <i>account_deletion_notifications_enabled</i> section
        of the configuration for environment {{ environment }}</p>

{% endblock %}
