{% extends "mail_layout.html" %}
{% block title %}SURF collaboration notification{% endblock %}
{% block content %}


    <div class="mail-head">
        <p class="title">
            Collaboration {{ collaboration.name }}
        </p>
        <p class="mail-subtitle">
            {{ user.name }} has created a new collaboration {{ collaboration.name }} in the organisation {{ organisation.name }}.</p>
        <p class="mail-subtitle">
            Click the button below to login and view the new collaboration.</p>
        <a class="button" href="{{base_url}}/collaborations/{{ collaboration.id }}">
            Login</a>
    </div>
    {% if message is defined and message != None and message|length %}
    <div class="mail-middle mail-message">
    <p style="white-space: pre-line;">
    {{ message }}
    </p>
    </div>
    {% endif %}
    <div class="mail-end">
        {% if organisation.collaboration_creation_allowed %}
            <p>The collaboration is created without a collaboration request, because the organisation is configured
            to automatically approve collaboration requests</p>
        {% else %}
            <p>The collaboration is created without a collaboration request, because the user {{ user.name }} has the
            entitlement {{ collaboration_creation_allowed_entitlement }}.</p>
        {% endif %}
    </div>

{% endblock %}
