{% extends "mail_layout.html" %}
{% block title %}SURFNET Collaboration invite{% endblock %}
{% block content %}
<p>
    {{ invitation.user.name }} invited you to join collaboration
    <strong>{{ invitation.collaboration.name }}</strong>.
    Please read below what steps you must take to accept this invitation.
</p>

{% if invitation.message is defined and invitation.message|length %}
<hr/>
<p>
    <strong>Personal Message from {{ invitation.user.name }}:</strong>
</p>
<p>
    "{{ invitation.message }}"
</p>
<hr/>
{% endif %}

<p>
    <strong>Accept invitation:</strong><br>
    To accept this invitation, please click 'Login to accept this invitation'. After logging in with your institutional
    account you are a member of the team.
</p>

<p>
    If you do not want to accept this invitation, please click 'Decline this invitation' or simply ignore this email.
    The invitation automatically expires after 14 days.
</p>

<table id="invitation-mail-table" cellpadding="10" width="90%" align="center">
    <tr>
        <td class="invitation-accept" align="center" width="50%">
            <span><a href="{{ baseUrl }}/invitations/accept/{{ invitation.hash }}" style="color:#0088CC;">Login to accept this invitation</a></span>
        </td>
        <td class="invitation-deny" align="center" width="50%">
            <span><a href="{{ baseUrl }}/invitation/deny/{{ invitation.hash }}" style="color:#0088CC;">Decline this invitation</a></span>
        </td>
    </tr>
</table>

<p>
    <strong>Need help?</strong><br>{{ invitation.user.name }} invited you to join this team.
    Please contact <a href="mailto:{{ invitation.user.email }}">{{ invitation.user.name }}</a>
    if you have any questions about this invitation.
</p>

{% endblock %}