{% extends "mail_layout.html" %}
{% block title %}SURF collaboration suspended notification{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="title">
        Collaboration suspended notification
    </p>
    <p class="mail-subtitle">
        Collaboration {{ collaboration.name }} has been suspended on {{ now }}.</p>
    <p class="mail-subtitle">
        Click the button below to view this collaboration.</p>
    <a class="button" href="{{ base_url }}/collaborations/{{ collaboration.id }}">
        Login</a>
</div>
<div class="mail-end">
    <p>{{ salutation }},</p>
    <p>Please login and activate {{ collaboration.name }} again if you want users of this collaboration
        to login again to the applications of this collaboration.</p>
    <p>{{ collaboration.name }} has seen no activity after {{ collaboration.last_activity_date }}</p>

</div>

{% endblock %}
