{% extends "mail_layout.html" %}
{% block title %}SURF new collaboration request accepted{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="title">
        Accepted collaboration request
    </p>
    <p class="mail-subtitle">
        Your request for collaboration {{ collaboration.name }} is accepted.</p>
    <p class="mail-subtitle">
        Click the button below to view this collaboration.</p>
    <a class="button" href="{{ base_url }}/collaborations/{{ collaboration.id }}">
        Login</a>
</div>
<div class="mail-end">
    <p>{{ salutation }},</p>
    <p>Your request to create collaboration
        <a href="" style="color:#0088CC;">
            {{ collaboration.name }}</a> has been accepted by the
        administrator {{administrator}} of the organisation {{ organisation.name }}.</p>

</div>

{% endblock %}
