{% extends "mail_layout.html" %}
{% block title %}SURF collaboration suspension notification{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="title">
        Collaboration suspension notification
    </p>
    <p class="mail-subtitle">
        Collaboration {{ collaboration.name }} will be suspended on {{ expiry_date }}.</p>
    <p class="mail-subtitle">
        Click the button below to view this collaboration.</p>
    <a class="button" href="{{ base_url }}/collaborations/{{ collaboration.id }}">
        Login</a>
</div>
<div class="mail-end">
    <p>{{ salutation }},</p>
    <p>Please login and change the end date of {{ collaboration.name }} to avoid that users of this collaboration
        can not login anymore to the applications of this collaboration.</p>

</div>

{% endblock %}
