{% extends "mail_layout.html" %}
{% block title %}SURF collaboration request{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="title">
        Collaboration request
    </p>
    <p class="mail-subtitle">
        {{ user.name }} has requested to create a new collaboration {{ collaboration_request.name }}.</p>
    <p class="mail-subtitle">
        Click the button below to view this collaboration request.</p>
    <a class="button" href="{{base_url}}/collaboration-requests/{{collaboration_request.id}}">
        Login</a>
</div>
<div class="mail-middle mail-message">
    <p style="white-space: pre-line;margin: 0;">
        {{ collaboration_request.message }}
    </p>
</div>
<div class="mail-end">
<p>{{ salutation }},</p>
<p>The user {{ user.name }} has requested to create a new collaboration {{ collaboration_request.name }}.</p>
</div>


{% endblock %}
