{% extends "mail_layout.html" %}
{% block title %}SURF collaboration join request{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="title">
        Join request
    </p>
    <p class="mail-subtitle">
        {{ user.name }} has requested access to the collaboration {{ collaboration.name }}.</p>
    <p class="mail-subtitle">
        Click the button below to accept
        this invitation.</p>
    <a class="button" href="{{base_url}}/collaborations/{{collaboration.id}}/joinrequests">
        Log in to process this request</a>
</div>
<div class="mail-middle mail-message">
    <p style="white-space: pre-line;margin: 0;">
        {{ join_request.message }}
    </p>
</div>
{% endblock %}
