{% extends "mail_layout.html" %}
{% block title %}SURF collaboration join request declined{% endblock %}
{% block content %}

<div class="mail-head" style="background-color: #f5f5f5;padding: 30px 0 20px 60px;">
    <p class="title" style="font-weight: 600;font-size: 38px;line-height: 38px; margin: 0;">
        Denied join request
    </p>
    <p class="mail-subtitle" style="font-weight: 300;font-size: 26px;line-height: 30px; margin: 0.6em;">
        Your join request for collaboration {{ join_request.collaboration.name }} is denied.</p>
</div>
<div class="mail-end" style="padding: 30px 0 0 60px;">
    <p>{{ salutation }},</p>
    <p>Your request to join collaboration {{ join_request.collaboration.name }} has
        been declined by the administrator {{administrator}} of the collaboration {{ join_request.collaboration.name }}.
    </p>
    <p>The reason for the denial by {{ administrator }} is:</p>
    <p style="padding: 15px;border:solid 1px black">{{ rejection_reason }}</p>
    {% if admins|length > 0 %}
    <p>Please contact the collaboration administrators for more information, or if you do not agree with this decision:</p>
    <ul style="background-color: #f5f5f5;margin: 0;">
        {% for admin in admins %}
        <li>
            {{ admin.name }} - <a href="mailto:{{ admin.email }}">{{ admin.email }}</a>
        </li>
        {% endfor %}
    {% endif %}
</ul>

</div>

{% endblock %}
