{% extends "mail_layout.html" %}
{% block title %}SURF collaboration join request denied{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="title">
        Denied join request
    </p>
    <p class="mail-subtitle">
        Your join request for collaboration {{ join_request.collaboration.name }} is denied.</p>
</div>
<div class="mail-end">
    <p>{{ salutation }},</p>
    <p>Your request to join collaboration {{ join_request.collaboration.name }} has
        been denied by the administrator {{administrator}} of the collaboration {{ join_request.collaboration.name }}.
    </p>
    <p>The reason for the denial by {{ administrator }} is:</p>
    <p style="padding: 15px;border:solid 1px black">{{ rejection_reason }}</p>
    {% if admins|length > 0 %}
    <p>Please contact the collaboration administrators for more information, or if you do not agree with this decision:</p>
    <ul style="background-color: #f5f5f5;margin: 0;">
        {% for admin in admins %}
        <li>
            {{ admin.name }} - <a href="mailto:{{ admin.email }}">{{ admin.email }}</a>
        </li>
        {% endfor %}
    {% endif %}
</ul>

</div>

{% endblock %}
