<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css" media="screen">
        {% include "mail.css" %}
    </style>
    <title>{% block title %}Your template must define a 'title' block{% endblock %}</title>
</head>
<body>
<div class="mail-main">
    {% if environment is defined and environment != None and environment != "" %}
        <div class="environment-header">
            <p>Environment: {{ environment }} </p>
        </div>
    {% endif %}
    </div>
    {% block content %}
    Your template must define a 'content' block.
    {% endblock %}
    <div class="mail-footer">
        <div class="links">
            Sent by
            <a class="external" href="https://edu.nl/vw3jx">SURF Research Access Management</a>
        </div>
    </div>
</div>
</body>
</html>
