{% extends "mail_layout.html" %}
{% block title %}SURF Membership suspension notification{% endblock %}
{% block content %}

<div class="mail-head" style="background-color: #f5f5f5;padding: 30px 0 20px 60px;">
    <p class="title" style="font-weight: 600;font-size: 38px;line-height: 38px; margin: 0;">
        Membership suspension notification
    </p>
    <p class="mail-subtitle" style="font-weight: 300;font-size: 26px;line-height: 30px; margin: 0.6em;">
        Membership for user {{ membership.user.name }} in {{ membership.collaboration.name }} will be suspended on {{ expiry_date }}.</p>
    <p class="mail-subtitle" style="font-weight: 300;font-size: 26px;line-height: 30px; margin: 0.6em;">
        Click the button below to view this membership .</p>
    <a class="button" href="{{ base_url }}/collaborations/{{ membership.collaboration.id }}"
       style="border-radius: 4px;color: white;background-color: #0077c8;text-decoration: none;display: inline-block;margin: 15px 0;cursor:pointer;padding: 14px 26px;font-size: 18px;">
        Login</a>
</div>
<div class="mail-end" style="padding: 30px 0 0 60px;">
    <p>{{ salutation }},</p>
    <p>Please login and change the suspension date of {{ membership.collaboration.name }} to avoid that
        the user {{ membership.user.name }} of this collaboration
        can not login anymore on the applications of this collaboration.</p>

</div>

{% endblock %}
