{% extends "mail_layout.html" %}
{% block title %}SRAM open requests for {{ environment }}{% endblock %}
{% block content %}

    <div class="mail-middle"
         style="padding: 40px 0 40px 60px;max-width: 800px;border: 1px solid #e0e0e0;border-radius: 6px">

        <p>Hi,</p>
        <p>Below are all the open requests from SRAM users that need your attention:</p>


        {% if collaboration_requests|length -%}
            <p>The following collaboration requests are outstanding:</p>
            <ul style="margin-bottom: 25px">
                {% for cr in collaboration_requests %}
                    <li>
                        <a href="{{ base_url }}/organisations/{{ cr.organisation_id }}/collaboration_requests">{{ cr.name }} requested by {{ cr.requester.email }}</a>
                        {% if cr.units and cr.units|length -%}
                            <br/>
                            <span>Units:</span>
                            <ul>
                            {% for unit in cr.units %}
                                <li>{{ unit.name }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if join_requests|length -%}
            <p>The following join requests are outstanding:</p>
            <ul style="margin-bottom: 25px">
                {% for jr in join_requests %}
                    <li>
                        <span><a href="{{ base_url }}/collaborations/{{ jr.collaboration_id }}/joinrequests">{{ jr.collaboration.name }}</a> requested by {{ jr.user.email }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if service_connection_requests|length -%}
            <p>The following service connection requests are outstanding:</p>
            <ul style="margin-bottom: 25px">
                {% for scr in service_connection_requests %}
                    {% if scr.pending_organisation_approval == True %}
                    <li>
                        <span><a href="{{ base_url }}/organisations/{{ scr.collaboration.organisation_id }}/serviceConnectionRequests">{{ scr.collaboration.name }}</a> requested by {{ scr.requester.email }}</span>
                    </li>
                    {% endif %}
                    {% if scr.pending_organisation_approval == False %}
                    <li>
                        <span><a href="{{ base_url }}/services/{{ scr.service_id }}/serviceConnectionRequests">{{ scr.collaboration.name }}</a> requested by {{ scr.requester.email }}</span>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        {% if service_requests|length -%}
            <p>The following service requests are outstanding:</p>
            <ul style="margin-bottom: 25px">
                {% for sr in service_requests %}
                    <li>
                        <span><a href="{{ base_url }}/home/service_requests">{{ sr.name }}</a> requested by {{ sr.requester.email }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
{% endblock %}
