{% extends "mail_layout.html" %}
{% block title %}SURF organisation invite{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="title">
        {% if reminder is not defined or reminder == False %}
        You have been invited by {{ invitation.user.name }} to become {{ invitation.intended_role }} in organisation '{{ invitation.organisation.name }}'.
        {% endif %}
        {% if reminder == True %}
        Reminder: you have been invited by {{ invitation.user.name }} to become {{ invitation.intended_role }} in organisation '{{ invitation.organisation.name }}'.
        {% endif %}
    </p>
    <a class="button" href="{{ base_url }}/organisation-invitations/accept/{{ invitation.hash }}">
        Accept invitation</a>
</div>
{% if invitation.message is defined and invitation.message != None and invitation.message|length %}
<div class="mail-middle mail-middle-border"
     style="padding: 40px 0 40px 60px;max-width: 800px;">
    <p> </p>
    <p> </p>
    <p style="white-space: pre-line;margin: 0;">
        {{ invitation.message }}
    </p>
</div>
{% endif %}
<div class="mail-end mail-end">
    <p>{{ invitation.user.name }} has invited you to join them using SURF Research Access Management.
        <a class="external" href="https://edu.nl/pdqdr" style="color: #9f9d9d;">Help for enrollment</a> is available.</p>
</div>
{% endblock %}
