{% extends "mail_layout.html" %}
{% block title %}Orphaned users in SURF Research Access Management are deleted{% endblock %}
{% block content %}

    <p>Hi,</p>
    <p>The following orphaned users have been removed from SRAM in environment {{ environment }}.
        Please delete them from the MMS.</p>
    <ul>
        {% for uid in user_uids %}
            <li>{{ uid }}</li>
        {% endfor %}
    </ul>
    <p>This email is automatically sent and can be suppressed by changing the <i>orphan_users.enabled</i> section
        of the configuration for environment {{ environment }}</p>

{% endblock %}
