{% extends "mail_layout.html" %}
{% block title %}SURF plafform outstanding requests{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="title">
        Outstanding requests
    </p>
    <a class="button" href="{{ base_url }}/">
     Review requests</a>
</div>
<div class="mail-middle mail-middle-border"
     style="padding: 40px 0 40px 60px;max-width: 800px;">
    <p> </p>
    <p> </p>
{% if collaboration_requests|length > 0 %}
    <p style="white-space: pre-line;margin: 0;">The following collaboration requests in {{ environment }} have been outstanding for more than
        {{ admin_cfg.outstanding_coll_request_days_threshold }} days:</p>
    <ul>
        {% for req in collaboration_requests %}
        <li>
            {{ req.name }} requested by {{ req.requester.name }} in organization {{ req.organisation.name }} at {{ req.created_at }}
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% if collaboration_join_requests|length > 0 %}
    <p style="white-space: pre-line;margin: 0;">The following collaboration join requests in {{ environment }} have been outstanding for more than
        {{ admin_cfg.outstanding_join_request_days_threshold }} days:</p>
    <ul>
        {% for req in collaboration_join_requests %}
        <li>
            {{ req.user.name }} requested access to collaboration {{ req.collaboration.name }} at {{ req.created_at }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
</div>
<div class="mail-end mail-end">
    <p>This email is automatically sent. Please contact <a href="mailto:sram-support@surf.nl">sram-support@surf.nl</a> for questions.</p>
</div>
{% endblock %}
