{% extends "mail_layout.html" %}
{% block title %}SURF new application connection request denied{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="title">
        Denied connection application request
    </p>
    <p class="mail-subtitle">
        Your connection application request for application {{ service.name }} is denied.</p>
    <p class="mail-subtitle">
        Click the button below to view {{ collaboration.name }}.</p>
    <a class="button" href="{{ base_url }}/collaborations/{{ collaboration.id }}">Login</a>
</div>
<div class="mail-end">
    <p>Your request to have access to application {{ service.name }} for collaboration
        <a href="{{ base_url }}/collaborations/{{ collaboration.id }}" style="color:#0088CC;">
            {{ collaboration.name }}</a> has been denied by the
        contact person <a href="mailto:{{ contact }}">{{ contact }}</a> of the application.</p>

    </p>
</div>

{% endblock %}
