{% extends "mail_layout.html" %} {% block title %}SURF application admin invite{% endblock %} {% block content %}

<div class="mail-head">
    <p class="title">
        {% if reminder is not defined or reminder == False %}
        {{ invitation.user.name }} invited you to become an {{ invitation.intended_role }} for application {{ invitation.service.name }}.
        {% endif %}
        {% if reminder == True %}
        Reminder: {{ invitation.user.name }} invited you to become an {{ invitation.intended_role }} for application {{ invitation.service.name }}.
        {% endif %}
    </p>
    <p>
        {% if invitation.intended_role == "admin" %}
        As an application admin you can manage application properties, manage which organisations can use this application, and invite other application admins for this application.
        {% endif %}
        {% if invitation.intended_role == "manager" %}
        As an application manager you can approve or deny connection requests and disconnect collaborations from the application.
        {% endif %}
    </p>
    </p>
    <a class="button" href="{{ base_url }}/service-invitations/accept/{{ invitation.hash }}">
        Become {{ invitation.intended_role }} of {{ invitation.service.name }}</a>
</div>
{% if invitation.message is defined and invitation.message != None and invitation.message|length %}
<div class="mail-middle">
    <p style="white-space: pre-line;margin: 0;">
        {{ invitation.message }}
    </p>
</div>
{% endif %}
<div class="mail-end mail-end-border">
    <p>Need help? Please contact {{ invitation.user.email }} with any questions about this invitation.
        <a class="external" href="https://edu.nl/pdqdr" style="color: #9f9d9d;">Help for enrollment</a> is available.</p>
</div>
{% endblock %}