{% extends "mail_layout.html" %}
{% block title %}SURF new application request accepted{% endblock %}
{% block content %}

    <div class="mail-head" style="background-color: #f5f5f5;padding: 30px 0 20px 60px;">
        <p class="title" style="font-weight: 600;font-size: 38px;line-height: 38px; margin: 0;">
            Approved application request
        </p>
        <p class="mail-subtitle" style="font-weight: 300;font-size: 26px;line-height: 30px; margin: 0.6em;">
            Your request for application {{ service.name }} is approved.</p>
        <p class="mail-subtitle" style="font-weight: 300;font-size: 26px;line-height: 30px; margin: 0.6em;">
            Click the button below to view this application.</p>
        <a class="button" href="{{ base_url }}/services/{{ service.id }}"
           style="border-radius: 4px;color: white;background-color: #0077c8;text-decoration: none;display: inline-block;margin: 15px 0;cursor:pointer;padding: 14px 26px;font-size: 18px;">
            Manage my application</a>
    </div>
    <div class="mail-end" style="padding: 30px 0 0 60px;">
        <p>{{ salutation }},</p>
        <p>Your request to create application
            <a href="" style="color:#0088CC;">
                {{ service.name }}</a> was approved, you are invited as application admin in SURF Research Access
            Management.</p>
        <p>You can now:</p>
        <ul>
            <li>Select from which organisation collaborations can connect to your application</li>
            <li>Try to login to your application, if you use SAML or OIDC (requires membership of a collaboration)</li>
            <li>Connect the application via LDAP, SCIM, PAM web login or a user token</li>
            <li>Invite additional application admins</li>
            <li>Create application groups, that will be provisioned to connected collaborations</li>
        </ul>
    </div>

{% endblock %}
