{% extends "mail_layout.html" %}
{% block title %}SURF application registration{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="title">
        Application registration
    </p>
    <p class="mail-subtitle">
        {{ user.name }} has requested to register an application {{ service_request.name }}.</p>
    <p class="mail-subtitle">
        Follow the link to view this application request:
        <a href="{{base_url}}/service-request/{{service_request.id}}">{{base_url}}/service-request/{{service_request.id}}</a>
    </p>
</div>
<div class="mail-middle mail-message">
    <p style="white-space: pre-line;margin: 0;">
        {{ service_request.message }}
    </p>
</div>
<div class="mail-end">
<p>{{ salutation }},</p>
<p>The user {{ user.name }} has requested to register an application {{ service_request.name }}.</p>
</div>


{% endblock %}
