{% extends "mail_layout.html" %}
{% block title %}SURF application connection request{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="title">
        Application request
    </p>
    <p class="mail-subtitle">
        {{ requester }} has requested access to the application {{ service.name }}
        for the collaboration {{ collaboration.name }}.</p>
    <a class="button" href="{{base_url}}/services/{{service.id}}/serviceConnectionRequests">
        Log in to process this request</a>
</div>
<div class="mail-middle mail-message">
    <p style="white-space: pre-line;margin: 0;">
        {{ service_connection_request.message }}
    </p>
</div>
<div class="mail-end">
    <p>{{ salutation }},</p>
    <p>The user {{ requester }} has requested access to the application {{ service.name }} for the
        collaboration
        {{ collaboration.name }}.
        </p>
</div>

{% endblock %}
