{% extends "mail_layout.html" %}
{% block title %}SURF inactive notification{% endblock %}
{% block content %}

    <div class="mail-head">
        <p class="title">
            {{ salutation }},<br/>
            Your profile will be suspended soon
        </p>

    </div>
    <div class="mail-end">
        <p>It's been {{ days_ago }} days since you last used SURF Research Access Management.
            Your profile will be marked inactive on {{ suspension_date }}, because we do not want to store your information longer than necessary. This means some services might not work anymore.
            On {{ deletion_date }}, your profile will be deleted.</p>

        {% include "personal_information.html" %}

        <p>If you want to keep using the services available through SURF Research Access Management,
            simply log in using the link below or by going to <a href="{{ base_url }}/login">{{ base_url }}/login</a>.
        </p>

        <a class="button" href="{{ base_url }}/login">
            Log in to prevent suspension</a>

        <p>If you have any questions, please let us know by sending an email to <a href="mailto:{{ support_address }}">{{ support_address }}</a>.</p>
    </div>

{% endblock %}