{% extends "mail_layout.html" %}
{% block title %}SURF inactive notification{% endblock %}
{% block content %}

    <div class="mail-head" style="background-color: #f5f5f5;padding: 30px 0 20px 60px;">
        <p class="title" style="font-weight: 600;font-size: 38px;line-height: 38px; margin: 0;">
            {{ salutation }},<br/>
            Your profile is deleted
        </p>

    </div>
    <div class="mail-end" style="padding: 30px 0 0 60px;background-color: white;">
        <p>{{ salutation }},</p>
        <p>According to our information, it's been {{ days_ago }} days since you last used SURF Research Access
            Management.
            Because we do not want to store your information longer than necessary,
            your profile has been deleted.
            This means non-web services might not work anymore.</p>

        <p>If you have any questions, please let us know by replying to this email.</p>
        <p>Kind regards,</p>
        <p>SURF Research Access Management support</p>
    </div>

{% endblock %}