{% extends "mail_layout.html" %}
{% block title %}SURF inactive notification{% endblock %}
{% block content %}

    <div class="mail-head" style="background-color: #f5f5f5;padding: 30px 0 20px 60px;">
        <p class="title" style="font-weight: 600;font-size: 38px;line-height: 38px; margin: 0;">
            {{ salutation }},<br/>
            Your profile is suspended
        </p>

    </div>
    <div class="mail-end" style="padding: 30px 0 0 60px;background-color: white;">
        <p>It's been {{ days_ago }} days since you last used SURF Research Access Management.
            Your profile has been marked inactive, because we do not want to store your information longer than necessary. This means some applications might not work anymore.
            On {{ deletion_date }}, your profile will be deleted.</p>

        {% include "personal_information.html" %}

        <p>If you want to keep using the applications available through SURF Research Access Management,
            simply login using the link below or by going to <a href="{{ base_url }}/login">{{ base_url }}/login</a>.
        </p>

        <a class="button" href="{{ base_url }}/login"
           style="border-radius: 4px;color: white;background-color: #0077c8;text-decoration: none;display: inline-block;margin: 15px 0;cursor:pointer;padding: 14px 26px;font-size: 18px;">
            Login to prevent deletion</a>

        <p>If you have any questions, please let us know by sending an email to <a href="mailto:{{ support_address }}">{{ support_address }}</a>.</p>
    </div>

{% endblock %}