{% extends "mail_layout.html" %}
{% block title %}SURF 2fa token reset{% endblock %}
{% block content %}

<div class="mail-head" style="background-color: #f5f5f5;padding: 30px 0 20px 60px;">
    <p class="mail-subtitle" style="font-weight: 300;font-size: 18px;line-height: 22px; margin: 0.6em;">
        Hi,
    </p>
    <p class="mail-subtitle" style="font-weight: 300;font-size: 18px;line-height: 22px; margin: 0.6em;">
        User {{ user.name }} has requested a reset of verification with their authenticator app (TOTP),
        because they are unable to log in to SURF Research Access Management.
    </p>
    <p class="mail-subtitle" style="font-weight: 300;font-size: 18px;line-height: 22px; margin: 0.6em;">
        A user can request any of their collaboration admins for the reset. If there aren't any, they can
        request it from their organisation managers or admins.
    </p>
    <p class="mail-subtitle" style="font-weight: 300;font-size: 18px;line-height: 22px; margin: 0.6em;">
        {{ user.name }} can use the reset code below to set up verification in their authenticator app again.</p>
    <br>
    <p class="mail-subtitle" style="font-weight: bold;font-size: 18px;line-height: 22px; margin: 0.6em 0.6em 2em 0.6em;">
        {{ user.mfa_reset_token }}</p>
        {% if message is defined and message != None and message|length %}
        <div class="mail-subtitle" style="font-weight: 300;font-size: 18px;line-height: 22px; margin: 1em 0.6em;max-width: 800px;font-style: italic; border-bottom: 3px solid #f5f5f5">
            <p style="margin: 0;"></p>
            <p style="margin: 0;">{{ user.name }} added the following message to their request:</p>
            <p style="margin: 0;"></p>
            <p style="white-space: pre-line;margin: 0;">
                {{ message }}
            </p>
        </div>
        {% endif %}
    <p class="mail-subtitle" style="font-weight: 300;font-size: 18px;line-height: 22px; margin: 0.6em;">
        Please deliver this reset code to the user at <a href="mailto:{{ user.email }}">{{ user.email }}</a> and inform them it can
        be entered on their next login attempt.</p>
    <p class="mail-subtitle" style="font-weight: 300;font-size: 18px;line-height: 22px; margin: 0.6em;">
    Suggestion for a message to the user:</p>
    <div class="mail-subtitle" style="font-weight: 300;font-size: 18px;line-height: 22px; margin: 1em 0.6em;max-width: 800px;font-style: italic; border-bottom: 3px solid #f5f5f5">
        <p style="margin: 0;"></p>
        <p style="margin: 0;">Hi {{ user.name }},</p>
        <p style="margin: 0;">You have requested a reset of your authenticator app to log in to SURF Research Access Management.</p>
        <p style="margin: 0;">Please log in at {{ base_url }}/login and use the reset code below.</p>
        <p style="margin: 0;">{{ user.mfa_reset_token }}</p>
        <p style="margin: 0;">Kind regards,</p>
    </div>
</div>
<br><br>

{% endblock %}
