{% extends "mail_layout.html" %}
{% block title %}SURF 2fa token reset{% endblock %}
{% block content %}

<div class="mail-head">
    <p class="mail-subtitle-small">
        Hi,
    </p>
    <p class="mail-subtitle-small">
        User {{ user.name }} has requested a reset of verification with their authenticator app (TOTP),
        because they are unable to log in to SURF Research Access Management.
    </p>
    <p class="mail-subtitle-small">
        A user can request any of their collaboration admins for the reset. If there aren't any, they can
        request it from their organisation managers or admins.
    </p>
    <p class="mail-subtitle-small">
        {{ user.name }} can use the reset code below to set up verification in their authenticator app again.</p>
    <br>
    <p class="mail-subtitle-small">
        {{ user.mfa_reset_token }}</p>
        {% if message is defined and message != None and message|length %}
        <div class="mail-subtitle">
            <p></p>
            <p>{{ user.name }} added the following message to their request:</p>
            <p></p>
            <p style="white-space: pre-line;">
                {{ message }}
            </p>
        </div>
        {% endif %}
    <p class="mail-subtitle-small">
        Please deliver this reset code to the user at <a href="mailto:{{ user.email }}">{{ user.email }}</a> and inform them it can
        be entered on their next login attempt.</p>
    <p class="mail-subtitle-small">
    Suggestion for a message to the user:</p>
    <div class="mail-subtitle">
        <p></p>
        <p>Hi {{ user.name }},</p>
        <p>You have requested a reset of your authenticator app to log in to SURF Research Access Management.</p>
        <p>Please log in at {{ base_url }}/login and use the reset code below.</p>
        <p>{{ user.mfa_reset_token }}</p>
        <p>Kind regards,</p>
    </div>
</div>
<br><br>

{% endblock %}
