@import "../../stylesheets/vars";

.sds--modal--container.metadata-modal {
  width: 75vw;
  max-width: 75vw;
  max-height: 75vh;
  overflow: initial;
}

.metadata-dialog-inner {
  .copy-to-clipboard.right {
    max-height: 40px;
  }

  textarea {
    height: 200px;
  }

}
