@import "../../stylesheets/vars.scss";

.mod-info {

    padding: 0;
    max-width: $medium;
    margin: 20px auto;

    a {
        color: $blue;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 25px;
    }

    div.card-container {
        margin: 25px 0;
        background-color: $lightest-grey;
        color: $dark-grey;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        div.card {
            background-color: white;
            width: 100%;
            padding: 2px;
            box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.3);

            &:not(:first-child) {
                margin-left: 15px;
            }

            @media (max-width: $tablet-max) {
                &:not(:first-child) {
                    margin-left: 0;
                }
            }

            div.title {
                padding: 10px 10px 20px 15px;
                font-size: 20px;
                border-bottom: solid 1px $blue;
            }

            div.features {
                padding: 10px 10px 20px 10px;

                td {
                    padding: 4px 2px;

                    svg {
                        color: $green;
                        margin-right: 10px;
                    }

                }
            }

        }

    }

    ul {
        list-style: circle;
        margin-left: 25px;
        line-height: 22px;
    }

    p.footer {
        margin-top: 25px;
    }
}
