@mixin entity-status {
    span.status {
        text-align: center;
        border-radius: 12px;
        min-width: 75px;
        max-height: 28px;
        padding: 4px 15px;
        font-weight: bold;
        margin-left: auto;

        &.approved {
            color: white;
            background-color: $dark-green;
        }

        &.denied {
            background-color: $lighter-grey;
            color: var(--sds--color--red--400);
        }

        &.open {
            background-color: $blue-light;
            color: $darker-grey;
        }

    }
}
