@mixin input-field {
    label {
        display: inline-block;
        margin: 12px 0 6px 0;
        min-width: 210px;
        color: black;
        position: relative;
        font-weight: bold;
    }

    span.tool-tip-section {
        font-size: 14px;
        color: $lighter-grey;
        cursor: pointer;
        padding: 0 4px;

        &:hover {
            color: darken($light-blue, 20%);
        }

    }
}
