@mixin input-field {
    label {
        display: inline-block;
        min-width: 210px;
        color: black;
        position: relative;
        font-weight: 600;
        margin: 12px 0 var(--sds--space--1);
    }

    span.tool-tip-section {
        font-size: 14px;
        color: $lighter-grey;
        cursor: pointer;
        padding: 0 4px;
        font-weight: normal;
        &:hover {
            color: darken($light-blue, 20%);
        }

    }
}
