@mixin mde-preview {

    .mde-preview-content {
        h3 {
            color: $primary-orange;
            font-size: 18px;
        }

        p {
            margin: 0!important;
        }

        ul {
            list-style: initial;
            padding: 15px 5px 15px 20px;

            li {
                padding: 2px 0;
            }
        }

    }

}
