div.org-attributes-container {
    display: flex;

    div.org-attributes {
        &:not(last-child) {
            margin-right: 80px;
        }

        span {
            display: block;

            &:first-child {
                font-weight: bold;
            }

            &:last-child {
                max-width: 300px;
                font-weight: normal;
                word-break: break-all;
            }
        }
    }
}

