// Colors
$blue: #68b0cc;
$lighter-blue: #a8d9e6;
$light-blue: #f0fafe;
$cancel: #bdccd5;

$darker-blue: #4b4b4b;
$red: #B62222;
$light-green: #f4fde8;
$primary-green: #419175;
$green: #158e4d;
$dark-green: #276b1e;
$orange: #fd8a25;
$background: #f4f7fa;
$light-grey: #eff2f3;
$lighter-grey: #d9d9d8;
$lightest-grey: #fbfbfb;
$hover: #F9FCFD;
$medium-grey: #a6b6be;
$dark-grey: #565656;

$organisations: #e4dc00;
$join-request: #008968;
$authorization: #8416fe;
$services: #ff5b01;
$invitations: #bfb800;
$organisation-invitations: #4085de;
$collaborations: #7333fa;
$members: #fd8a25;

// borders
$border: rgba(black, .1);
$border-light: rgba(white, .2);

// Sizes
$br: 5px;

// Screen
$medium: 1280px;
$medium-padding: 25px;
$medium-margin: 30px;

//Tablet
$tablet-max: 980px;