// Colors
$blue: #177ABF;
$lighter-blue: #a8d9e6;
$light-blue: #f0fafe;
$cancel: #bdccd5;

$darker-blue: #4b4b4b;
$red: #B62222;
$light-green: #f4fde8;
$primary-green: #419175;
$green: #2CA055;
$dark-green: #276b1e;
$primary-orange: #EE7628;
$orange: #ab5d19;
$yellow: #fef595;
$background: #f3f3f3;
$light-grey: #eff2f3;
$lighter-grey: #e0e0df;
$lightest-grey: #fbfbfb;
$hover: #F9FCFD;
$medium-grey: #a6b6be;
$dark-grey: #737373;
$darker-grey: #3b3b3b;
$organisations: #d6b909;
$join-request: #008968;
$groups: #8416fe;
$services: #E7303A;
$invitations: #A5C251;
$organisation-invitations: #177ABF;
$collaboration-requests: #58d5de;
$collaborations: #7B2882;
$members: #fd8a25;

// borders
$border: rgba(black, .1);
$border-light: rgba(white, .2);

// Sizes
$br: 2px;

// Screen
$medium: 1280px;
$medium-sub: 1180px;
$medium-padding: 25px;
$medium-margin: 30px;

//Tablet
$tablet-max: 1180px;