@import "../../stylesheets/vars";

section.pagination {
    display: flex;
    font-weight: bolder;

    section.pagination-container {
        margin: 40px 40px 20px auto;
        display: flex;
        font-size: 16px;
        align-content: center;
        align-items: center;
    }

    span.link {
        background-color: white;
        color: $medium-blue;
        border: 1px solid $medium-blue;
        border-radius: 6px;
        padding: 6px 12px;
        display: inline-block;
        margin: 0 8px;
        cursor: pointer;

        &:hover {
            background-color: $blue-hover;
            color: $hover-blue;
        }

        &.chevron {
            padding: 4px;
            display: flex;
        }

        &.current {
            background-color: $medium-blue;
            color: white;
            cursor: default;

        }

        &.dots {
            cursor: default;
            border: none;

            &:hover {
                background-color: white;
                color: $medium-blue;
            }
        }
    }

    span svg {
        width: 24px;
        height: auto;
        fill: $medium-blue;
        margin: auto;
    }

}
