SBS_HOST=..
API_USER=sysread
API_PASS=...
BASE_DN=ou=SBS,dc=pilot,dc=scz,dc=lab,dc=surf,dc=nl
LDAP_HOST=ldap.pilot.scz.lab.surf.nl
LDAP_USERNAME=cn=Admin,dc=pilot,dc=scz,dc=lab,dc=surf,dcc=nl
LDAP_PASSWORD=...