@import "../stylesheets/vars.scss";

.activity-container {
    max-width: $medium;
    margin: 25px auto;
    width: 100%;

    @media (max-width: $tablet-max) {
        padding: 0 15px;
    }

    .activity {
        display: flex;

        @media (max-width: $compact-medium) {
            flex-direction: column;
        }

        width: 100%;

        .sds--table {
            overflow-y: scroll;
            max-height: 75vh;
        }

        table.logs {

            th {
                &.date {
                    width: 25%
                }

                &.user {
                    width: 35%
                }

                &.action {
                    width: 40%
                }
            }

            tbody tr {
                &.selected {
                    background-color: $background;
                    font-weight: 600;
                }

                &:not(.selected):hover {
                    color: $blue;
                    cursor: pointer;
                }

            }

        }

        .details {
            width: 50%;
            padding: 0 15px;

            @media (max-width: $compact-medium) {
                width: 100%;
            }

        }

        p.info {
            margin-bottom: 25px;
        }

        span.parent {
            font-weight: bold;
        }

        p.none {
            font-weight: bold;
        }

        table.changes {
            width: 100%;

            th {
                &.key {
                    width: 30%;
                }

                &.old-value {
                    width: 35%;
                }

                &.new-value {
                    width: 35%;
                }
            }

            tbody {
                td {
                    word-break: break-word;
                }
            }
        }

    }

    .sds--pagination {
        margin-top: 25px;

        a {
            font-weight: normal;
        }
    }

}




