@import "../stylesheets/vars.scss";

section.autocomplete {
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 66px;
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $br;
  padding-left: 20px;
  background-color: white;
  box-shadow: 0 2px 4px 0 $lighter-grey, 0 4px 8px 0 $lighter-grey;
  margin-bottom: 25px;

  div.no-results {
    padding: 10px 15px;
    font-style: italic;
  }

  em.results-limited {
    margin: 5px 10px;
    display: inline-block;
    color: $orange;
  }

  table.result {
    width: 100%;
    word-break: break-all;

    tbody {
      tr {
        padding: 10px;
        cursor: pointer;

        &:not(:first-child) {
          border-top: 2px solid $background;
        }

        &.active, &:hover {
          background-color: $background;
        }

        td {
          padding: 10px;
          vertical-align: middle;

          &.name {
            width: 25%;
          }

          &.description {
            width: 65%;
          }

          &.link {
            text-align: left;
            max-width: 30px;
            padding: 0;

            i.fa-external-link {
              font-size: 16px;
            }

            a, a:visited {
              text-decoration: none;
              color: $blue;
            }
          }

        }

        span {
          &.matched {
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }

    }
  }
}
