@import "../stylesheets/vars.scss";

.back-link {
    max-width: $medium;
    margin: 10px auto;
    color: $dark-grey;


    a {
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: $blue;

        &:hover {
            font-weight: bolder;
        }

        svg {
            margin-right: 10px;
        }
    }
}