@import "../stylesheets/vars.scss";

.button {
    display: inline-block;
    padding: 6px 15px;
    background-color: $blue;
    color: white;
    border-radius: $br;
    min-width: 140px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;

    svg {
        margin-left: 25px;
    }

    &:hover {
        background-color: darken($blue, 5%);
        color: darken(white, 10%);
    }

    &:hover, &:visited {
        text-decoration: none;
    }
    &.small {
        min-width: initial;
    }

    &.cancel, &.white {
        background-color: white;
        color: $blue;
        border-radius: $br;
        border: 1px solid $lighter-grey;
        min-width: 120px;

        &:hover {
            background-color: darken(white, 3%);
            color: darken($blue, 10%);
        }

        i {
            color: $blue;
            margin: 0;
            font-size: larger;
        }
    }

    &.delete {
        color: $red;
        border: none;
        background-color: $light-grey;
        display: flex;
        min-width: initial;

        font-size: 22px;
        &:hover {
            color: darken($red, 10%);
        }
        &:disabled {
            color: $lighter-grey;
        }
        svg {
            margin: auto;
        }
    }

    &.orange {
        background-color: $primary-orange;
        color: white;
        border: none;

        &:hover {
            background-color: darken($primary-orange, 5%);
            color: darken(white, 10%);
        }
    }

    &.green {
        background-color: $primary-orange;
        color: white;
        border-radius: $br;

        &:hover {
            background-color: darken($primary-green, 5%);
            color: darken($primary-green, 10%);
        }

        i {
            color: white;
            margin: 0;
            font-size: larger;
        }
    }


    &.disabled {
        cursor: no-drop;
        background-color: $lighter-grey;
        color: white;

        &:hover {
            background-color: $lighter-grey;
            color: white;
        }
    }

    &.warning {
        background-color: $red;
    }

    i {
        margin-left: 10px;
        color: white;
    }

    &.plus {
        color: $blue;
        border: 1px solid $blue;
        background-color: white;
    }

}

