@import "../stylesheets/vars.scss";

div.checkbox {

    display: flex;
    align-items: center;

    input[type="checkbox"] {
        display: none;
    }

    label {
        display: inline-block;
        outline: none !important;

        &.info {
            margin-left: 10px;
        }

        &.disabled {
            color: $medium-grey;
        }
    }

    input[type="checkbox"] + label span {
        font-size: 11px;
        background-color: white;
        border: 1px solid $blue;
        border-radius: 3px;
        padding: 1px 2px;
        margin: 2px 0;
        cursor: pointer;

        svg {
            color: transparent;
        }
    }

    input[type="checkbox"]:disabled + label span {
        border: 1px solid darken($medium-grey, 5%);
        background-color: $light-grey;
        cursor: not-allowed;
    }

    input[type="checkbox"]:checked + label span {
        border: 3px solid $blue;
        background-color: $blue;
        border-radius: 2px;
        box-shadow: none;
        padding: 0;
        outline: none !important;

        svg {
            background-color: $blue;
            color: white;
        }
    }

    input[type="checkbox"]:checked:disabled + label span {
        border: 3px solid $medium-grey;
        background-color: $medium-grey;
        cursor: default;

        svg {
            background-color: $medium-grey;
        }
    }

    svg.fa-info-circle {
        color: $blue;
        margin-left: 8px;
        font-size: 16px;
    }

    em {
        svg {
            font-style: normal;
        }
    }
}