@import "../stylesheets/vars.scss";

.date-field {
    display: flex;
    position: relative;
    flex-direction: column;

    label.date-field-label {
        display: inline-block;
        margin: 12px 0 6px 0;
        min-width: 210px;
        color: black;
        position: relative;
        font-weight: bold;
    }

    span.tool-tip-section {
        font-size: 14px;
        color: $lighter-grey;
        cursor: pointer;
        padding: 0 4px;

        &:hover {
            color: darken($light-blue, 20%);
        }
    }

    label.date-picker-container {
        display: flex;
        width: 100%;
        position: relative;

        svg.fa-calendar-alt {
            position: absolute;
            right: 14px;
            top: 14px;
            color: $blue;
            cursor: pointer;
        }
    }

    .react-datepicker-wrapper {
        width: 100%;
    }

    .react-datepicker__input-container {
        width: 100%;

        input[type="text"] {
            display: block;
            width: 100%;
            line-height: 33px;
            padding: 16px;
            font-size: 14px;
            height: 48px;

            &[disabled] {
                cursor: not-allowed;
                background-color: $background;
            }
        }
    }
}