@import "../stylesheets/vars.scss";

.mail-members-container {
    display: flex;
    font-size: 22px;
    color: $dark-grey;
    padding: 10px 0 5px 0;

    p.mail-members-title {
        padding: 10px 0 10px 0;
    }

    a {
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        margin: 10px 0;
        color: $blue;

        &:hover {
            font-weight: bolder;
        }

        svg {
            margin-right: 10px;
        }
    }

    span.mail-members {
        margin-left: auto;

        a {
            font-size: 22px;
        }
    }

}
