@import "../stylesheets/vars.scss";

div.footer {
    background-color: white;
    padding: 15px;
    border-top: 2px solid $lighter-grey;
    margin-top: auto;

    div.footer-inner {
        max-width: $medium;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;

        section.info {
            display: flex;
            flex-direction: column;

            &.right {
                text-align: right;
            }
        }


    }
}
