@import "../stylesheets/vars.scss";

div.footer {
    background-color: $background;
    padding: 5px 15px;
    margin-top: auto;

    div.footer-inner {
        margin: 0 15px;
        align-items: center;
        display: flex;
        justify-content: space-between;

        section.info {
            display: flex;
            flex-direction: column;

            &.right {
                text-align: right;
            }
        }


    }
}
