@import "../stylesheets/vars.scss";

.header-container {

    background: $darker-grey;
    margin: 0 auto;
    color: white;

    .header {
        max-width: $medium;
        margin: 0 auto 0 auto;
        position: relative;
        transition: margin 150ms ease-in-out;
        display: flex;
        align-items: center;

        @media (max-width: $tablet-max) {
            padding-bottom: 10px;
        }

        a.logo {
            height: 50px;
            margin-top: 10px;

            @media (max-width: $tablet-max) {
                display: none;
            }

        }

        h1.title {
            font-size: 30px;
            line-height: 30px;
            margin-left: 20px;

            @media (max-width: $tablet-max) {
                display: none;
            }
        }

        div.spinner {
            position: absolute;
            top: 15px;
            right: 50%;
        }

        .user-profile {
            margin-left: auto;
            position: relative;
            cursor: pointer;
        }

        .menu {
            display: flex;
            align-items: center;
            padding: 5px 12px;
            color: black;
            border-radius: 4px;
            background-color: $background;

            @media (max-width: $tablet-max) {
                margin: 5px 5px -2px auto;
            }


            .user {
                display: flex;
                flex-direction: column;
                margin-right: 40px;

                span.role {
                    font-weight: bold;
                }
            }

            svg.fa-angle-down, svg.fa-angle-up {
                color: $medium-grey;
            }
        }

    }

}





