@import "../stylesheets/vars.scss";

.header-container {

    background: $lighter-grey;
    margin: 0 auto;
    color: black;

    .header {
        max-width: $medium;
        margin: 0 auto 0 auto;
        position: relative;
        transition: margin 150ms ease-in-out;
        display: flex;
        align-items: center;
        position: relative;

        @media (max-width: $tablet-max) {
            padding-bottom: 10px;
        }

        a.logo {
            height: 60px;
            margin-top: 6px;

            @media (max-width: $tablet-max) {
                display: none;
            }

        }

        h1.title {
            font-size: 30px;
            line-height: 30px;
            margin-left: 20px;

            @media (max-width: $tablet-max) {
                display: none;
            }
        }

        div.spinner {
            position: absolute;
            top: 15px;
            right: 50%;
        }
        .user-profile {
            margin-left: auto;
            position: relative;
            cursor: pointer;
        }

        .menu {
            display: flex;
            align-items: center;
            padding: 5px 12px;

            border-radius: 4px;
            background-color: $background;

            .user {
                display: flex;
                flex-direction: column;
                margin-right: 40px;
                span.role {
                    font-weight: bold;
                }
            }

            svg.fa-angle-down, svg.fa-angle-up {
                color: $medium-grey;
            }
        }

    }

}





