@import "../stylesheets/vars.scss";

.history-container {
    max-width: $medium;
    margin: 0 auto;
    width: 100%;

    .history {
        background-color: $lightest-grey;
        padding: 6px 20px 0 20px;
        display: flex;
        width: 100%;

        ul.logs {
            width: 50%;
            list-style: none;
            padding: 15px;

            li {
                display: block;
                padding: 15px 5px;
                border-bottom: 1px solid $light-grey;

                &.selected {
                    background-color: $light-blue;
                }

                &:not(.selected):hover {
                    color: $blue;
                    cursor: pointer;
                }

            }

        }

        .details {
            width: 50%;
            padding: 25px 0;
        }

        p.none {
            padding: 25px 5px;
        }

        table.changes {
            width: 100%;

            th {
                text-align: left;
                padding: 5px;
                border-bottom: 1px solid $lighter-grey;

                &.key {
                    width: 30%;
                }

                &.old-value {
                    width: 35%;
                }

                &.new-value {
                    width: 35%;
                }
            }

            tbody {
                tr {
                    &:nth-child(odd) {
                        background-color: $lightest-grey;
                    }
                }

                td {
                    word-break: break-all;
                    padding: 5px;
                }
            }
        }

    }
}




