@import "../stylesheets/vars.scss";

.input-field {
    display: flex;
    position: relative;
    flex-direction: column;

    label {
        display: inline-block;
        margin: 12px 0 6px 0;
        min-width: 210px;
        color: black;
        position: relative;
        font-weight: bold;
    }

    span.tool-tip-section {
        font-size: 14px;
        color: $lighter-grey;
        cursor: pointer;
        padding: 0 4px;

        &:hover {
            color: darken($light-blue, 20%);
        }
    }

    input[type=text], textarea {
        display: block;
        width: 100%;
        border: 1px solid $dark-grey;
        padding: 6px 12px;
        border-radius: $br;
        font-size: 16px;
        height: 50px;

        &[disabled] {
            background-color: $background;
            cursor: not-allowed;
        }

    }

    textarea {
        height: 70px;
    }

    span.remove {
        display: flex;

        em {
            display: inline-block;
            margin-right: 10px;
        }

        svg.fa-trash {
            margin: 0 5px 0 auto;
            color: $red;
        }
    }

    section.file-upload-container {
        position: absolute;
        bottom: 1px;
        right: 1px;
        cursor: pointer;
        background-color: $lighter-grey;
        text-align: center;
        border-left: 1px solid black;
        label.file-upload {
            z-index: 99;
            cursor: pointer;
            margin: 0;
            padding: 14px;
            min-width: auto;
        }
    }


    svg.fa-arrow-right {
        position: absolute;
        right: 2px;
        top: 40px;
        font-size: 34px;
        color: $blue;
        padding: 6px;
        cursor: pointer;

        &:hover {
            color: darken($blue, 15%);
        }

    }

    section.copy-to-clipboard {
        position: absolute;
        right: 2px;
        top: 40px;
        font-size: 18px;
        color: $blue;
        padding: 6px;
        cursor: pointer;

        &:hover {
            color: darken($blue, 10%);
        }

        svg.copied {
            animation: pulse .8s;
            animation-iteration-count: 1;
            border-radius: 50%;
            position: relative;
        }

        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 white;
            }
            55% {
                box-shadow: 0 0 6px 6px lighten($blue, 15%);
            }
            100% {
                box-shadow: 0 0 0 0 white;
            }
        }

    }

}