@import "../stylesheets/vars.scss";

.input-field {
    display: flex;
    align-items: center;
    position: relative;

    label {
        display: inline-block;
        padding: 14px 34px 14px 14px;
        margin: 5px 0;
        min-width: 180px;
        border: 1px solid $lighter-grey;
        background-color: $lightest-grey;
        border-bottom-left-radius: $br;
        border-top-left-radius: $br;
        color: $dark-green;
        position: relative;

    }

    span.tool-tip-section {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 14px;
        color: $blue;
        cursor: pointer;
        padding: 0 4px;

        &:hover {
            color: darken($blue, 10%);
        }
    }

    input[type=text], textarea {
        display: block;
        width: 100%;
        border-bottom: 1px solid $lighter-grey;
        border-right: 1px solid $lighter-grey;
        border-top: 1px solid $lighter-grey;
        border-left: none;
        padding: 16px 40px 16px 16px;
        border-bottom-right-radius: $br;
        border-top-right-radius: $br;
        font-size: 14px;
        height: 50px;

        &[disabled] {
            background-color: $background;
            cursor: not-allowed;
        }

        &.file-upload {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

    }

    label.file-upload {
        border-radius: 0 $br $br 0;
        border-left: none;
        cursor: pointer;
        padding-right: 4px;
    }

    span.remove {
        display: flex;

        em {
            display: inline-block;
            margin-right: 10px;
        }

        svg.fa-trash {
            margin: 0 5px 0 auto;
            color: $red;
        }
    }

    section.copy-to-clipboard {
        position: absolute;
        right: 6px;
        top: 14px;
        font-size: 18px;
        color: $blue;
        padding: 6px;
        cursor: pointer;

        &:hover {
            color: darken($blue, 10%);
        }

        svg.copied {
            animation: pulse .8s;
            animation-iteration-count: 1;
            border-radius: 50%;
            position: relative;
        }

        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 white;
            }
            55% {
                box-shadow: 0 0 6px 6px lighten($blue, 15%);
            }
            100% {
                box-shadow: 0 0 0 0 white;
            }
        }

    }

    svg.fa-arrow-right {
        position: absolute;
        right: 6px;
        top: 14px;
        font-size: 34px;
        color: $blue;
        padding: 6px;
        cursor: pointer;

        &:hover {
            color: darken($blue, 15%);
        }

    }
}