@import "../stylesheets/vars.scss";


.join-request-form {

    textarea, .checkbox {
        margin-bottom: 25px;
    }

    .sds--radio-options .sds--text-field-container {
        flex-direction: column;
        gap: 15px;
    }

}
