@import "../stylesheets/vars.scss";

.new-drop-down {
    position: relative;
    cursor: pointer;

    svg {
        color: white;
        font-size: 24px;

        &.fa-plus {
            margin-right: 5px;
        }
    }

    ul {
        font-size: 17px;
        position: absolute;
        z-index: 2;
        list-style: none;
        min-width: 275px;
        top: 30px;
        right: 0;
        background: white;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        opacity: .95;
        text-transform: none;

        li {
            border-bottom: 2px solid $lightest-grey;

            &:last-child {
                border-bottom: none;
            }
        }

        a {
            display: inline-block;
            width: 100%;
            padding: 10px 15px;
            text-decoration: none;
            color: $dark-grey;
        }
    }
}