@import "../stylesheets/vars.scss";
@import "../stylesheets/input_field.scss";

div.organisation-onboarding {
    @include input-field;

    label.label {
        min-width: 0;
    }

    .react-mde {
        border-radius: $br;
        border-color: $dark-grey;

    }

    .mde-header {
        border-top-left-radius: $br;
        border-top-right-radius: $br;
        border-color: $dark-grey;
        background-color: $background;

        .mde-tabs button {
            color: $dark-grey;

            &.selected, &:focus {
                outline: $dark-grey;
                border-color: $dark-grey;
                color: black;
            }
        }
    }

    .mde-textarea-wrapper {
        textarea.mde-text {
            font-size: 16px;
            border-color: $dark-grey;
            border-top: none;
        }
    }

    .mde-preview-content {
        h3 {
            color: $primary-orange;
        }

        p {
            margin-bottom: 0;
        }
    }

}