@import "../stylesheets/vars.scss";

.select-field {
    display: flex;
    position: relative;
    flex-direction: column;

    label {
        display: inline-block;
        margin: 12px 0 6px 0;
        min-width: 210px;
        color: black;
        position: relative;
        font-weight: bold;
    }

    span.tool-tip-section {
        font-size: 14px;
        color: $lighter-grey;
        cursor: pointer;
        padding: 0 4px;

        &:hover {
            color: darken($light-blue, 20%);
        }
    }

    .input-select-inner {
        display: block;
        width: 90%;
        border: 1px solid $dark-grey;
        border-radius: $br;
        font-size: 16px;
        height: 48px;


        .select-inner__control {
            height: 100%;
            padding-left: 8px;
            border: none;
        }

        .select-inner__control--is-focused {
            box-shadow: none !important;
            border: #5f9af6 2px solid !important;
            outline-offset: -2px;
            outline-color: #5f9af6 !important;
            border-radius: 0;

        }

        &[disabled] {
            background-color: $background;
            cursor: not-allowed;
        }

    }

    .select-inner__control--is-disabled {
        background-color: $background;
        border-radius: 0;
    }
}