@import "../stylesheets/vars.scss";


.tab {
    min-width: 120px;
    padding: 10px 20px;
    margin: 0 20px;
    display: flex;
    align-content: center;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    svg {
        width: 20px;
        margin-right: 10px;
    }

    &:not(.active) {
        cursor: pointer;

        h2, svg {
            color: $dark-grey;
        }

        svg {
            fill: $dark-grey;
        }

        &:hover {
            h2, svg {
                color: black;
            }

            svg {
                fill: black;
            }

            border-bottom: 3px solid $medium-grey;
        }
    }

    &.active {
        border-bottom: 3px solid $primary-orange;

        h2, svg {
            color: $secondary-orange;
            font-weight: bold;
        }

        svg {
            fill: $primary-orange;
        }
    }

}


