@import "../stylesheets/vars.scss";


.tab {
    min-width: 110px;
    padding: 10px 15px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 3px solid $background;

    &.busy {
        min-width: 85px;
        margin: 0 10px;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: $compact-medium) {
        margin: 0;
    }

    svg {
        width: 20px;
        font-size: 18px;
        height: auto;
        margin-right: 10px;
    }

    &:not(.active) {
        cursor: pointer;

        span.tab-label, svg {
            color: $dark-grey;
        }

        svg {
            fill: $dark-grey;
        }

        &:not(.read-only):hover {
            span.tab-label, svg {
                color: black;
            }

            svg {
                fill: black;
            }

            border-bottom: 3px solid $medium-grey;
        }

        &.read-only {
            cursor: not-allowed;

            span.tab-label, svg {
                color: $medium-grey;
            }

            svg {
                fill: $medium-grey;
            }
        }
    }

    &.active {
        border-bottom: 3px solid $light-orange;

        span.tab-label, svg {
            color: $primary-orange;
            font-weight: bold;
        }

        svg {
            fill: $primary-orange;
        }
    }

    span.notifier {
        border-radius: 50%;
        background-color: $blue;
        color: white;
        font-size: 14px;
        display: inline-block;
        width: 18px;
        text-align: center;
        height: 18px;
        line-height: 18px;
        position: absolute;
        right: 0;
        top: -4px;

        @media (max-width: $compact-medium) {
            top: 8px;
            right: 4px;
        }

    }

    &.collaborations {
        svg {
            width: 28px;
        }
    }

    &.collaboration_requests {
        svg {
            width: 22px;
        }

    }

    &.serviceConnectionRequests {
        svg {
            width: 32px;
            height: auto;
        }

    }

    &.apikeys {
        svg {
            width: 28px;
        }
    }

    span.tab-label {
        font-weight: 600;
    }
}


