@import "../stylesheets/vars.scss";


.tab {
    min-width: 120px;
    padding: 10px 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 3px solid $background;


    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    svg {
        width: 20px;
        height: auto;
        margin-right: 10px;
    }

    &:not(.active) {
        cursor: pointer;

        h2, svg {
            color: $dark-grey;
        }

        svg {
            fill: $dark-grey;
        }

        &:not(.read-only):hover {
            h2, svg {
                color: black;
            }

            svg {
                fill: black;
            }

            border-bottom: 3px solid $medium-grey;
        }

        &.read-only {
            cursor: not-allowed;

            h2, svg {
                color: $medium-grey;
            }

            svg {
                fill: $medium-grey;
            }
        }
    }

    &.active {
        border-bottom: 3px solid $light-orange;

        h2, svg {
            color: $primary-orange;
            font-weight: bold;
        }

        svg {
            fill: $primary-orange;
        }
    }

    span.notifier {
        border-radius: 50%;
        background-color: $blue;
        color: white;
        font-size: 14px;
        display: inline-block;
        width: 18px;
        text-align: center;
        height: 18px;
        line-height: 18px;
        position: absolute;
        right: 0;
        top: -4px;
    }

    &.collaborations {
        svg {
            width: 28px;
        }
    }

    &.collaboration_requests {
        svg {
            width: 22px;
        }

    }

    &.apikeys {
        svg {
            width: 28px;
        }
    }

    h2 {
        font-family: "Source Sans Pro", sans-serif !important;
        font-weight: 600;
    }
}


