@import "../stylesheets/vars.scss";

.tabs {
    max-width: $medium;
    margin: 0 auto;
    display: flex;
    padding: 0 calc((#{$medium} - #{$medium-sub}) / 2);
    background-color: $background;

    &.standalone {
        padding-top: 20px
    }
}
