@import "../stylesheets/vars.scss";

.tabular-data {
    margin-bottom: 25px;

    table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        font-size: 14px;
    }

    th, td {
        border: 1px solid #d4d4d4;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f3f3f3;
        font-weight: bold;

        &.short_names {
            width: 12%;
        }

        &.intended_role {
            width: 12%;
        }

        &.invitees {
            width: 10%;
        }

        &.groups {
            width: 10%;
        }

        &.invitation_expiry_date {
            width: 17%;
        }

        &.membership_expiry_date {
            width: 17%;
        }

        &.message {
            width: 10%;
        }

        &.sender_name {
            width: 15%;
        }

    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr.results:not(.error-row) td {
        color: var(--sds--color--green--400);
    }

    tr.error-row td {
        color: var(--sds--color--red--400);
    }

    td.error {
        color: white;
        background-color: var(--sds--color--red--400);

        &:hover {
            background-color: var(--sds--color--red--500);
        }
    }

    input {
        border: none;
        width: 100%;
        padding: 4px;
        font-size: 14px;
        background: transparent;
    }

    input:focus {
        outline: 2px solid #4a90e2;
        background-color: #fff;
    }

    p.info {
        margin-top: 8px;
        font-size: 14px;
    }
}
