@import "../stylesheets/vars.scss";

ul.user-profile {
    position: absolute;
    z-index: 2;
    padding: 15px;
    list-style: none;
    min-width: 350px;
    top: 75px;
    right: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    opacity: .95;
    text-transform: none;

    li {
        font-size: 14px;
        margin-bottom: 7px;
        display: flex;

        span {
            &.value {
                font-style: normal;
                margin-left: auto;
            }

            &.section {
                font-weight: bolder;
                display: inline-block;
                padding-top: 15px;
            }
        }

    }

    ul.split-values {
        display: flex;
        flex-direction: column;

        li {
            margin-left: auto;
        }
    }
}